<div class="header-background clearfix">
	<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2"><a href="/" class="govuk-link govuk-link--no-visited-state">Judicial Appointments Commission</a></h1> -->
	<div class="header-logo">
		<a href="/"><img src="/public/images/jac-logo.svg" width="197" height="66" /></a>
	</div>
	<div class="header-content">
		<a class="header-service-name govuk-!-font-weight-bold govuk-!-font-size-24" href="/">External service name</a>
		<nav>
			<ul class="govuk-header__navigation" id="navigation">
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Home</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Applications</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Vacancies</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">Support</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="#">My account</a>
				</li>
				<li class="govuk-header__navigation-item">
					<a class="govuk-header__link" href="sign-in">Sign out</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div class="govuk-phase-banner clearfix">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>