{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Senior Circuit Judge, Designated Civil Judge (Birmingham and Winchester){% endblock %}

{% block content %}
{# include "includes/header.html" #}
<div class="header-background">
	<a href="/"><img src="/public/images/jac-logo.svg" width="197" height="66" /></a>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<form action="eligibility" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Senior Circuit Judge, Designated Civil Judge (Birmingham and Winchester)</h1>
			<ul class="govuk-list vacancy-list">
				<li><strong>Closing date:</strong> 3 July 2020 at 1pm</li>
				<li><strong>Number of vacancies:</strong> 2</li>
				<li><strong>Location:</strong> Birmingham and Winchester</li>
				<li><strong>Salary:</strong> £151,497 (Group 5)</li>
				<li><strong>Contact:</strong> <a class="govuk-link" href="#">SCJDCJ013@judicialappointments.gov.uk</a></li>
			</ul>
			<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-1">Overview of the role</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
						<p class="govuk-body">Please read the <a class="govuk-link" href="#">foreword</a> for this selection exercise by The Right Honourable Lady Justice Simler.</p>
						<p class="govuk-body">The role of the Designated Civil Judge (DCJ) is to take overall responsibility for the civil work of the county courts and District Registries in the area to which they are appointed. That involves providing leadership to the civil judiciary (including Circuit Judges, District Judges and fee paid judiciary) who sit at the courts in that area and ensuring the efficient discharge of judicial business at those courts.</p>
						<p class="govuk-body">The DCJ is expected to work closely with the Resident Judge(s) and Designated Family Judge(s) in the area and by discussion and agreement to resolve any questions affecting the administration of justice across the jurisdictions.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Location and jurisdiction</p>
						<p class="govuk-body">The location of the posts and dates by which appointments are required are as follows:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>Senior Circuit Judge, Designated Civil Judge, Birmingham, required immediately</li>
						</ul>
						<p class="govuk-body">This post is based in Birmingham Justice Centre and is one of the largest hearing centres outside of London. This centre undertakes a substantial volume of work covering four jurisdictions: Civil, Family, Immigration and Asylum and Social Security and Child Support Tribunals.</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>Senior Circuit Judge, Designated Civil Judge, Winchester, required immediately</li>
						</ul>
						<p class="govuk-body">This post is based in Winchester Combined Court Centre. This centre undertakes a substantial volume of work, including bankruptcy, money claims, and work in the Crime and Family jurisdictions.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Your posting preferences</p>
						<p class="govuk-body">In your application you will be asked to indicate which post you wish to apply for. If you wish to apply for more than one post you must rank them in order of preference. Please note that selections are made solely on merit. Advice on selecting <a class="govuk-link" href="#">locations and jurisdictions</a> is available. A Circuit Judge <strong>must</strong> live within reasonable travelling distance of the courts at which he or she will sit. No application for a transfer may be made until a judge has served five years in the circuit to which they are appointed.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Section 9(1) authorisation</p>
						<p class="govuk-body">It is required that the successful candidate must already be authorised or be suitable for authorisation to the pool of judges upon appointment to act as a judge of the High Court under section 9(1) of the Senior Courts Act 1981. Deployment to the High Court Division(s) will be a matter for the respective Head of Division. Candidates must declare on their applications if they already hold authorisation under s9(1), and if so, where.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-2">Eligibility</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
						<p class="govuk-body">You must meet the eligibility requirements for this post. The JAC will assess eligibility after the shortlisting stage. It is your responsibility to ensure that you meet the eligibility requirements before submitting your application.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Statutory eligibility</p>
						<p class="govuk-body">To be appointed a Circuit Judge, under section 16(3) of the Courts Act 1971, as amended by section 71 and Schedule 10 to the Courts and Legal Services Act 1990, and by section 50 and Schedule 10 to the Tribunals, Courts and Enforcement (TCE) Act 2007, a candidate must:</p>
						<ol class="govuk-list govuk-list--number">
							<li>satisfy the judicial appointment eligibility condition on a 7-year basis</li>
							<li>be a Recorder or</li>
							<li>have held as a full-time appointment, for at least 3 years, one of the offices listed in <a class="govuk-link" href="#">Part 1A of Schedule 2 to the Courts Act 1971</a></li>
						</ol>
						<p class="govuk-body">The TCE Act introduced the judicial appointment eligibility condition. You will have to show that:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>you have possessed a relevant legal qualification (as a barrister or solicitor, in England and Wales)</li>
							<li>for the requisite period and</li>
							<li>while holding that qualification you have gained experience in law</li>
						</ul>
						<p class="govuk-body">The meaning of gain experience in the law is set out in section 52(2) to (5) of the TCE Act and relates to a period engaged in law-related activities.</p>
						<p class="govuk-body">Note that service as a magistrate is not considered demonstrative of gaining experience in the law or as being equivalent to previous judicial experience.</p>
						<p class="govuk-body">Existing Senior Circuit Judges and Circuit Judges are also welcome to apply.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Additional selection criteria</p>
						<p class="govuk-body">Candidates are expected to have previous judicial experience, sitting as a judge in a salaried or fee-paid capacity, or a similar role such as the chair of an equivalent body for which a legal qualification is required.</p>
						<p class="govuk-body">An equivalent body is one of a quasi-judicial nature for which the powers and procedures should resemble those of a court of law. It should involve highly complex matters, requiring its members to objectively determine the facts, draw conclusions and reach a reasoned decision. Such decisions could result in the imposition of a penalty, and that are likely to affect the legal rights, duties or privileges of specific parties. Examples could include, but are not restricted to:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>Coroner</li>
							<li>Disciplinary tribunals and conduct hearings for professional standards bodies</li>
							<li>Arbitration</li>
							<li>Parole Board</li>
							<li>Chair of a statutory inquiry</li>
						</ul>
						<p class="govuk-body">The length of judicial experience required is a minimum of 30 completed sitting days since appointment, not including training or sick days.</p>
						<p class="govuk-body">Only in exceptional cases and if the candidate has demonstrated the necessary skills in another significant way should an exception be made.</p>
						<p class="govuk-body">Information for candidates concerning interpretation of the additional selection criteria.</p>
						<p class="govuk-body">If you are not a judge in either a salaried or fee-paid capacity with at least 30 sitting days experience, you should carefully consider whether you have experience in a role which is deemed sufficiently akin to that of a judge.</p>
						<p class="govuk-body">As the criteria explains, such roles are expected to be quasi-judicial in nature with powers and procedures resembling those of a court of law requiring its members objectively to determine the facts and draw conclusions to reach a reasoned decision. If a legal qualification is not a requisite for the appointment you hold it is less likely that the JAC will consider the criteria to be met. The same is true if you operate in a court or similar setting but as an advisor or member of a panel rather than a panel chair/decision maker.</p>
						<p class="govuk-body">Under such circumstances, you should consider whether you have demonstrated the skills of a judge in some other significant way.</p>
						<p class="govuk-body">It will be for the JAC to determine whether a candidate without judicial experience has sufficient directly relevant experience in an equivalent body or whether the candidate’s case is so exceptional it warrants exception.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Reasonable length of service</p>
						<p class="govuk-body">There is no upper or lower age limit for candidates apart from the statutory retirement age of 70. However, the age at which someone is appointed as a <strong>Senior Circuit Judge, Designated Civil Judge</strong> should allow for a reasonable length of service. For this position it is usually <strong>3</strong> years before retirement.</p>
						<p class="govuk-body">In applying for this exercise you should consider whether you can provide 3 full years’ service before retirement. The JAC Selection and Character Committee will decide whether a candidate will be able to provide a reasonable length of service. In doing this they will take in to account the number of vacancies, application numbers and the business need for the role.</p>
						<p class="govuk-body">Candidates who already hold judicial appointment and were first appointed before March 1995, may have a preserved retirement age of 72. This includes candidates first appointed to a judicial office listed in Schedule 7 to the Judicial Pensions and Retirement Act 1993. Such candidates should inform the JAC about their retirement age.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Citizenship</p>
						<p class="govuk-body">At the time of application, candidates must be either a:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>UK citizen</li>
							<li>citizen of another Commonwealth country</li>
							<li>citizen of the Republic of Ireland</li>
						</ul>
						<p class="govuk-body">Other European Union citizens are not eligible to apply.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Disqualification</p>
						<p class="govuk-body">You should note that the <a href="#" class="govuk-link">House of Commons Disqualification Act 1975</a> applies to this office. For further details please refer to the <a href="#" class="govuk-link">terms and conditions</a>.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Medical examination</p>
						<p class="govuk-body">Unless you are an existing salaried judicial office holder at group 6.1 and above, a medical examination is required.</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-3">Selection process</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
						<div class="important-box govuk-!-margin-bottom-4">
							<p class="govuk-body govuk-!-font-weight-bold">COVID-19 (Coronavirus) update</p>
							<p class="govuk-body">In line with government advice, the JAC continues to suspend all face-to-face selection activity. The JAC is continuing with selection activity that can be completed remotely. This includes launching selection exercises, receiving applications and shortlisting.</p>
							<p class="govuk-body">Alternative, remote, arrangements to replace face-to-face selection days are being used for some appointments. Candidates in exercises where such alternative arrangements are planned will be contacted directly by the JAC. The needs of the courts and tribunals mean that the JAC will continue to progress recommendations for appointment where selection days have already been completed or can be undertaken using remote, alternative arrangements.</p>
							<p class="govuk-body">If you are a candidate who is unable to complete any part of our remote process as a result of COVID-19-related issues, please contact the JAC to discuss potential alternative arrangements.</p>
							<p class="govuk-body">The date range provided for selection days for this exercise is provisional, as the final dates will be dependent on the emerging national situation and government advice.</p>
							<p class="govuk-body govuk-!-margin-bottom-0">The JAC website will be regularly updated with the latest information about our approach, and we will keep candidates informed, by email, of any potential change to their exercise timeline and the impact that COVID-19 related issues may have on selection days.</p>
						</div>
						<p class="govuk-body">The JAC has reviewed the selection exercise process for leadership posts. Candidates will be assessed at every stage of the selection process against the leadership <a class="govuk-link" href="#">Skills and Abilities</a> which are based on the <a class="govuk-link" href="#">Judicial Skills and Abilities Framework</a> used by the judiciary and the Judicial College.</p>
						<p class="govuk-body">The selection exercise process for leadership exercises involves candidates:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>being assessed against a concise list of the required skills and abilities for leadership posts</li>
							<li>providing a statement of suitability detailing how you demonstrate each of the skills and abilities</li>
							<li>providing a brief factual CV</li>
						</ul>
						<p class="govuk-body govuk-!-font-weight-bold">Submitting your application</p>
						<p class="govuk-body">Before making your application, you should read the following documents:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>the <a class="govuk-link" href="#">Skills and Abilities</a> Framework for the role</li>
							<li>the <a class="govuk-link" href="#">Job Description</a></li>
						</ul>
						<p class="govuk-body">Your application will comprise three elements:</p>
						<ol class="govuk-list govuk-list--number">
							<li>A brief factual CV in a format of your choice but of no more than 2 sides of A4 (Arial, size 11).</li>
							<li>Your JAC candidate profile, which includes a brief outline of your legal experience and career history.</li>
							<li>A <strong>statement of suitability</strong> covering the three skills and abilities.</li>
						</ol>
						<p class="govuk-body">You should use the brief factual CV as an opportunity to draw the panel’s attention to the standout moments in your career; specifically pulling out the things that have provided you with the experience and skills necessary to apply for the post of Senior Circuit Judge, Designated Civil Judge. Details could include:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>key achievements in particular posts</li>
							<li>any areas of the law you have specialised in when carrying out particular posts</li>
							<li>notable publications</li>
							<li>notable cases you have been involved in, either as a Judge or as a practitioner</li>
							<li>wider portfolio work, or other activities outside of your main job, where these are relevant to the role</li>
						</ul>
						<p class="govuk-body">In contrast, the <strong>Post-qualification experience and Judicial experience</strong> sections of your JAC online candidate profile provides the panel with a very brief factual and chronological timeline of your career to date but does not offer the same opportunity as the CV to unpack specific cases or specific roles that provide evidence of your ability to transfer your skills to the post.</p>
						<p class="govuk-body">Details in the CV and JAC online candidate profile do not need to provide direct evidence against the Skills and Abilities.</p>
						<p class="govuk-body">Your <strong>statement of suitability</strong> will give you with the opportunity to provide evidence of how you demonstrate the Skills and Abilities. There is a 400-word limit for each of the 3 Skills and Abilities. <strong>If you exceed this word limit the additional text will be disregarded</strong>. When composing your statement of suitability, you should explain how and why you consider your expertise, personal qualities and experience provide evidence of your suitability for the post. This is an important part of your application because the panel assesses the information in your statement of suitability against the Skills and Abilities to determine whether you meet the requirements of the post. You must provide the panel with enough information to make a decision.</p>
						<p class="govuk-body">You should:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>read the Skills and Abilities to understand what you need to demonstrate</li>
							<li>consider how your own experience relates to, or is transferable to, the Skills and Abilities</li>
							<li>reflect on roles, tasks and situations in which you demonstrated those Skills and Abilities</li>
							<li>select specific examples that best demonstrate the Skills and Abilities as they are set out</li>
						</ul>
						<p class="govuk-body">Your legal experience, career history, statement of suitability and CV are all submitted via the JAC website as part of your online application. Please ensure the header on your CV includes your full name.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Independent Assessments</p>
						<p class="govuk-body">Read the <a class="govuk-link" href="#">guidance about independent assessments</a> before completing your application. Independent assessments will contribute to your overall assessment. They should provide evidence that you have the abilities relevant to the role as outlined in the relevant <a class="govuk-link" href="#">Skills and Abilities</a> framework. </p>
						<p class="govuk-body">Please do not nominate a <a class="govuk-link" href="#">JAC Commissioner</a> as an independent assessor. In addition you should not nominate the Master of the Rolls, President of the Queen’s Bench Division, the Chancellor of the High Court, Lady Justice Simler or the Lord Chief Justice (Lord Justice Burnett) as they are the Statutory Consultees, Judicial Panel Member and the Appropriate Authority respectively.</p>
						<p class="govuk-body">If you are unsure who to nominate please contact the selection exercise team using the email address below.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Shortlisting</p>
						<p class="govuk-body">Candidates will be shortlisted for invitation to selection day by way of a paper sift. A sift panel, consisting of a JAC Chair, independent member and a judicial member, will consider the information contained in your application and from the independent assessments received.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Statutory consultation</p>
						<p class="govuk-body">The JAC is required by the Judicial Appointments Regulations 2013, to consult a person (other than the Appropriate Authority) who has held the office we are selecting for, or who has other relevant experience.</p>
						<p class="govuk-body">In this exercise the JAC will consult with the Master of the Rolls, President of the Queen’s Bench Division and the Chancellor of the High Court. The information provided by the statutory consultees will be used in making a selection decision.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">Information on statutory consultation</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection Day</p>
						<p class="govuk-body">If you are shortlisted, you will be invited to attend a selection day. The selection days are scheduled for <strong>16 to 17 September 2020</strong> and will take place remotely via video conferencing. Please make sure you are available on these dates. Alternative dates cannot be accommodated.</p>
						<p class="govuk-body">The selection day for this exercise will comprise situational questioning and an interview where the selection panel will be seeking evidence from you against the Skills and Abilities for the post. Further details on what will be required of a candidate on selection day will be sent with the invitation to attend.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">More information about selection day, including situational questioning and interview</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Reasonable adjustments</p>
						<p class="govuk-body">The JAC provides reasonable adjustments to ensure candidates with a disability are not placed at a disadvantage. We will also consider making reasonable adjustments for those candidates with a short-term injury or temporary illness. You may request a reasonable adjustment in your application.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">Information on the reasonable adjustments policy</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Character checks</p>
						<p class="govuk-body">The JAC is required to carry out character checks on all candidates whom it intends to consider for appointment. This requires your signed consent.</p>
						<p class="govuk-body">All candidates will be required to complete a digital form which will be included as part of your application.</p>
						<p class="govuk-body">You should be aware that the JAC expects all character matters to be declared. Any matter that has not been disclosed by you and is brought to the JAC’s attention through its independent checks will be treated as your non-declaration of a relevant matter. You will have no opportunity to make further representations on any declared issue once the matter is before the Selection and Character Committee.</p>
						<p class="govuk-body">The JAC considers that it is your responsibility to ensure that any record concerning your character is accurate. Details of the bodies with whom JAC will make independent character enquiries are set out in paragraph 17 of the <a class="govuk-link" href="#">Good Character Guidance</a> and you may wish to contact your professional body to ensure all matters recorded are known to you.</p>
						<p class="govuk-body">On 4 August 2016 the Rehabilitation of Offenders Act 1974 (Exceptions) Order 1975 (Amendment) (England and Wales) Order 2016 came into effect. It allows for the full disclosure to the JAC of all spent cautions and convictions to assess good character. You must declare and disclose all past convictions and cautions, regardless of whether they are spent or unspent.</p>
						<p class="govuk-body">You must continue to update the character section of your JAC profile. You have a continuing responsibility to disclose any matter that may arise at any time before you are notified of the outcome of your application.</p>
						<p class="govuk-body">Failure to disclose any relevant matter is likely to have an adverse effect on your application.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Equal merit provision</p>
						<p class="govuk-body">In line with its published policy, the Commission will apply the <a class="govuk-link" href="#">equal merit provision</a> to this exercise. Guidance on the approach taken by the JAC to equal merit can found <a class="govuk-link" href="#">here</a>.</p>
						<p class="govuk-body">If the Commission, sitting as the Selection and Character Committee, considers two or more candidates to be of equal merit, a candidate may be selected for the purpose of increasing judicial diversity. The Committee will use the provision based on the data declared by candidates in the diversity part of their online application.</p>
						<p class="govuk-body">The relevant data used to identify under-representation are taken from the 2011 Census, detailed Characteristics, England and Wales (ONS 2012) and the <a class="govuk-link" href="#">diversity statistics</a> showing the background of the courts judiciary (as of 1 April 2019).</p>
						<p class="govuk-body">The population of the United Kingdom (usual residents) aged 25 to 74 that are women is 50.4%, while 11.3% of the UK population identifies as being from a Black, Asian or Ethnic Minority (BAME) background. The proportion of Judges that are women is <strong>48%</strong> and of those who declared their ethnicity <strong>8.4%</strong> declared they were from a BAME background.</p>
						<p class="govuk-body">If the Committee has applied the equal merit provision, it may be presented with a situation whereby it is unable to choose between two or more candidates on the basis of their relevant protected characteristics. For example, two candidates assessed as being of equal merit may both be white men. If this situation arises, the equal merit provision cannot be used to make a selection. Therefore, the Committee will invite those candidates to either a second interview or to take an online test, to enable it to make a selection decision. This would take place in <strong>mid October</strong>.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection decisions</p>
						<p class="govuk-body">The Selection and Character Committee will consider which candidates to recommend to the Appropriate Authority as set out in the Judicial Appointments Regulations 2013.</p>
						<p class="govuk-body">In order to consider a recommendation, the Appropriate Authority may request any information that was available to the JAC in making its recommendation. You should be aware that any information you provide in your application or during the selection process could be passed onto the Appropriate Authority.</p>
						<p class="govuk-body">For this exercise the Appropriate Authority will be the <strong>Lord Chief Justice</strong> who can accept or reject a recommendation or ask the Commission to reconsider. The Appropriate Authority may not select an alternative candidate.</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-4">Outcome of the exercise</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
						<p class="govuk-body">The JAC will issue results by email to all those interviewed at the same time. We hope this will be by the end of October 2020.</p>
						<p class="govuk-body">If you are offered a post you will normally be expected to take up the post within 6 months.</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-5">Feedback</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
						<p class="govuk-body govuk-!-font-weight-bold">Paper sift</p>
						<p class="govuk-body">If you are not successful following the paper sift, you can request written feedback by emailing the selection team at <a class="govuk-link" href="#">SCJDCJ013@judicialappointments.gov.uk</a>.</p>
						<p class="govuk-body">You should make this request within six weeks of the email informing you that you have not been successful. We will aim to respond within 20 working days.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection day</p>
						<p class="govuk-body">If you are not successful following the selection day, you can request written feedback. You should make this request within 6 weeks of the email informing you that you have not been successful. We will aim to respond to your request within 20 working days.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-6">Training</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
						<p class="govuk-body">The successful candidate after appointment will have access to the Judicial College training prospectus.</p>
						<p class="govuk-body">For this post the successful candidate will also have access to the leadership and management development programme run by the Judicial College, advertised in the courts judiciary prospectus.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-7">Contact</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
						<p class="govuk-body">If you have any questions regarding this role or your application, please contact a member of the selection exercise team:</p>
						<p class="govuk-body"><strong>Leadership team</strong><br /><a href="#" class="govuk-link">SCJDCJ013@judicialappointments.gov.uk</a></p>
					</div>
			  	</div>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Check if you're eligible and apply</button>
			<!-- <div class="govuk-inset-text">This page is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</div> -->
		</div>
		<div class="govuk-grid-column-one-third govuk-!-margin-top-8">
			<h3 class="govuk-heading-m">Timeline</h3>
			<div class="moj-timeline clearfix">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Open for applications</h2>
					</div>
					<p class="moj-timeline__date">2 June 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Closed for applications</h2>
					</div>
					<p class="moj-timeline__date">3 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Name-blind sift</h2>
					</div>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">JAC Contacts Independent Assessors</h2>
					</div>
					<p class="moj-timeline__date">3 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Return date for independent assessments</h2>
					</div>
					<p class="moj-timeline__date">17 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Shortlisting outcome</h2>
					</div>
					<p class="moj-timeline__date">August 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - Remotely</h2>
					</div>
					<p class="moj-timeline__date">16 September 2020 to 17 September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection process outcome</h2>
					</div>
					<p class="moj-timeline__date">October 2020</p>
				</div>
			</div>
			<h3 class="govuk-heading-m govuk-!-margin-top-8">Documents</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">Job description</a><br /><span class="govuk-!-font-size-16">DOCX, 91KB, 9 pages</span></li>
				<li><a class="govuk-link" href="#">Terms and conditions</a><br /><span class="govuk-!-font-size-16">DOCX, 34KB, 4 pages</span></li>
				<li><a class="govuk-link" href="#">New Judicial Pension Scheme</a><br /><span class="govuk-!-font-size-16">PDF, 151KB, 28 pages</span></li>
				<li><a class="govuk-link" href="#">Judicial Pension Scheme 1993</a><br /><span class="govuk-!-font-size-16">PDF, 601KB, 26 pages</span></li>
			</ul>
			<h3 class="govuk-heading-m govuk-!-margin-top-8 top-border govuk-!-padding-top-4">Related content</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">How we shortlist candidates</a></li>
				<li><a class="govuk-link" href="#">How to write your self-assessment competency statements</a></li>
				<li><a class="govuk-link" href="#">How to choose your independent assessors</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}