// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
// Override the govuk-frontend font stack
$govuk-font-family: "Khula",
"HelveticaNeue",
"Helvetica Neue",
"Arial",
"Helvetica",
sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

// JAC branding

.govuk-main-wrapper {
	padding-top: 0 !important;
}

.header-background {
    background-color: #f7f7f7;
	// padding: 40px 10px 10px 20px;
	padding: 20px 10px 10px 20px;
	margin-top: 0 !important;
}

.index-page .header-background {
	padding: 20px 20px 10px 20px;
}

.header-background h1 a,
.header-content a {
	color: #753880 !important;
	text-decoration: none;
}

.header-background h1 a:hover,
.header-content a:hover {
	text-decoration: underline;
}

.header-background span {
	color: #753880 !important;
}

.header-logo {
	width: 33.33%;
    // padding-right: 15px;
    float: left;
	vertical-align: top;
}

.header-logo img {
	display: inline-block;
}

.header-content {
	width: 66.66%;
    // padding-left: 15px;
	overflow: hidden;
	padding-bottom: 5px;
}

.img-border {
	border: 1px solid govuk-colour("black");
	width: 350px;
	/* margin-top: 60px; */
	margin-bottom: 30px;
	float: right;
}

.govuk-footer {
	border-top: 0;
	background-color: #753880 !important;
	color: govuk-colour("white");
}

.govuk-footer a,
.govuk-footer .govuk-footer__link {
	color: govuk-colour("white");
}

.top-border {
	border-top: 3px solid #753880;
}

code {
	background: govuk-colour("light-grey");
	padding: 2px 6px 4px 6px;
}

.important-box {
	border: 3px solid govuk-colour("black");
	padding: 20px;
}
