{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Application complete{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">Application complete</h1>
				<div class="govuk-panel__body">Your reference number<br><strong>
					JAC00133-abc0001</strong></div>
				<!-- <p class="govuk-body-l govuk-!-margin-top-6 govuk-!-margin-bottom-0">You've applied for JAC00133 Recorder.</p> -->
			</div>
			{% if data['email-address'] %}
			<p class="govuk-body">We have sent a confirmation email to <a href="#">{{ data['email-address'] }}</a>.</p>
			{% else %}
			<p class="govuk-body">We have sent a confirmation email to <a href="#">sharon.schmidt@example.com</a>.</p>
			{% endif %}
			<h2 class="govuk-heading-m">What happens next</h2>
			<p class="govuk-body">We'll now decide if you should be shortlisted for this role.</p>
			<p class="govuk-body">We'll email you in October to let you know either way.</p>
			<p class="govuk-body">You can view your application and apply for other vacancies from your <a href="#" class="govuk-link">dashboard</a>.</p>
			<!-- <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">See your application</button> -->
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}