{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - JAC00133 Recorder{% endblock %}

{% block content %}
{# include "includes/header.html" #}
<div class="header-background">
	<a href="/"><img src="/public/images/jac-logo.svg" width="197" height="66" /></a>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>
<form action="eligibility" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">JAC00133 Recorder</h1>
			<ul class="govuk-list vacancy-list">
				<li><strong>Closing date:</strong> 6 August 2019 at 1pm</li>
				<li><strong>Number of vacancies:</strong> 121</li>
				<li><strong>Location:</strong> Across England and Wales</li>
				<li><strong>Salary:</strong> £654.94 a day</li>
				<li><strong>Contact:</strong> <a class="govuk-link" href="#">Recorder2019@judicialappointments.gov.uk</a></li>
			</ul>
			<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-1">Overview of the role</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
						<p class="govuk-body">Recorders are appointed nationally and assigned by the Lord Chief Justice to a Circuit within England and Wales.</p>
						<p class="govuk-body">The jurisdiction of a Recorder is broadly similar to that of a Circuit Judge; Recorders are required to read and assimilate case papers before a hearing or trial starts and play an active role in case management. Recorders must control the manner in which cases are conducted, decide issues of law and procedure that may arise during a case and provide reasons for any ruling. Recorders are expected to keep abreast of legal developments; this entails a substantial amount of reading not directly connected with the cases which they are trying.</p>
						<p class="govuk-body">Following appointment, and subject to completion of training and sitting in, all Recorders deployed to sit in family will be required to sit in Private Law with the majority also requiring authorisation in Public Law, subject to senior judicial approval. In addition, some successful applicants will be deployed to sit solely in the civil jurisdiction. Again, this will be subject to completing training and sitting in, and to business need.</p>
						<p class="govuk-body">Following appointment, there will be an opportunity for Recorders to seek cross authorisation across the jurisdictions. This remains subject to the support of the relevant leadership judiciary, senior judicial approval and completion of relevant induction and training events.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Location and jurisdiction</p>
						<p class="govuk-body">Successful candidates will be deployed to sit in either crime, family or civil jurisdictions across all circuits. On your application you will be asked to indicate and rank both your jurisdictional and location preferences. This information will be used for deployment purposes only and have no part in selection decisions.</p>
						<p class="govuk-body">Deployment decisions are a matter for the Senior Presiding Judge. It may not always be possible to deploy successful candidates in line with their preferences, depending on business need. Candidates may, therefore, be deployed to any of the circuits across England and Wales. In circumstances where the preferences of candidates do not match vacancy requirements, the Senior Presiding Judge will take account of the order of merit to give those who are most meritorious priority of assignment to their preferred circuit.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-2">Eligibility</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
						<p class="govuk-body">You must meet the eligibility requirements for this post. The JAC will assess eligibility <strong>after</strong> the shortlisting stage. It is your responsibility to ensure that you meet the eligibility requirements before submitting your application.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Statutory eligibility</p>
						<p class="govuk-body">To be appointed a Recorder under section 21(2) of the Courts Act 1971, as amended by paragraph 9 of Schedule 10 to the Tribunals, Courts and Enforcement Act 2007 (TCE Act), a candidate must satisfy the judicial-appointment eligibility condition on a 7-year basis.</p>
						<p class="govuk-body">The TCE Act 2007 introduced the judicial-appointment eligibility condition. You will have to show that:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>you have possessed a relevant legal qualification (as a barrister or solicitor, in England and Wales)</li>
							<li>for the requisite period and</li>
							<li>that whilst holding that qualification you have gained experience in law</li>
						</ul>
						<p class="govuk-body">The meaning of gain experience in law is set out in section 52(2) to (5) of the TCE Act 2007 and relates to a period engaged in law related activities.</p>
						<p class="govuk-body">Note that service as a magistrate is not considered demonstrative of gaining experience in the law or as being equivalent to previous judicial experience.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Reasonable length of service</p>
						<p class="govuk-body">There is no upper or lower age limit for candidates apart from the statutory retirement age of 70. However, the age at which someone is appointed to this post should allow for a reasonable length of service before retirement. For this role it is <strong>4</strong> years.</p>
						<p class="govuk-body">The Commission will decide whether a candidate will be able to provide a reasonable length of service.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Citizenship</p>
						<p class="govuk-body">At the time of application, candidates must be either a:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>UK citizen</li>
							<li>citizen of another Commonwealth country</li>
							<li>citizen of the Republic of Ireland</li>
						</ul>
						<p class="govuk-body">Other European Union citizens are not eligible to apply.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Welsh-speaking posts</p>
						<p class="govuk-body">Candidates for posts in Wales need to have an understanding, or the ability to acquire the understanding, of the administration of justice in Wales. This includes legislation applicable to Wales and Welsh devolution arrangements. This will be assessed at selection day.</p>
						<p class="govuk-body">In addition to the posts in Wales, there are also up to 2 Welsh- speaking posts. These posts require both an understanding, or the ability to acquire the understanding, of the administration of justice in Wales (including legislation applicable to Wales and Welsh devolution arrangements) <strong>and</strong> the ability to speak in Welsh.</p>
						<p class="govuk-body">The Welsh speaking element will not be tested at selection day but will be conducted over the telephone with a Welsh speaking judge, and a Welsh speaking lay panel member. The telephone call will consist of the judge asking up to 2 questions that require a response in Welsh; the assessment will take 10 to 15 minutes.</p>
						<p class="govuk-body">The JAC does not have any information pertaining to the jurisdiction/s of these posts; this will be a matter for deployment by Judicial Office.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Conflicts of interest: Crown Prosecution Service (CPS), Serious Fraud Office (SFO) and Government Legal Service (GLS)</p>
						<p class="govuk-body">We welcome applications from lawyers in the CPS, SFO, GLS.</p>
						<p class="govuk-body">However, CPS and SFO lawyers are not able to sit as a Recorder in crime (or for any matter involving their own government department). Therefore, any CPS or SFO lawyer who wishes to be appointed in crime and is successful, will be expected to resign in order to take up appointment.</p>
						<p class="govuk-body">CPS and SFO lawyers can be appointed to sit in family or civil without a requirement to resign.</p>
				  	</div>
				</div>
				<!-- <div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-7">How to apply</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
						<p class="govuk-body">This competition will open for applications at 1pm on 23 July 2019 and close at 1pm on 06 August 2019.</p>
						<p class="govuk-body">In the interest of fairness to all candidates, late applications will not be accepted unless agreed with the selection exercise manager in advance of the application deadline and will only be considered due to exceptional circumstances.</p>
						<p class="govuk-body">In your application you will need to provide:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>your qualifications and legal experience</li>
							<li>your career history</li>
							<li>a self-assessment against 5 competencies (as detailed in the competency framework) to demonstrate your suitability for this role</li>
							<li>contact details of 2 independent assessors</li>
							<li>character declarations</li>
							<li>other relevant information for this role</li>
						</ul>
						<p class="govuk-body">Applications must be submitted on the JAC’s online application system. After selecting ‘Apply’ select ‘log in to an existing account’ if you already have an account. If you do not already have an account select ‘Create new account’. Complete all the required sections, ensuring the information you provide is clear and accurate.</p>
					</div>
			  	</div> -->
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-3">Selection process</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
						<p class="govuk-body govuk-!-font-weight-bold">Self-assessment</p>
						<p class="govuk-body">There are 5 competencies that list the behaviours for a Recorder.</p>
						<p class="govuk-body">You must complete all required sections, ensuring the information you provide is clear and accurate.</p>
						<p class="govuk-body">The self-assessment section of the application is your opportunity to tell us about the experience and knowledge you have for the post.</p>
						<p class="govuk-body">You must provide examples and evidence of why you feel your skills and experience are transferable to the post and why they will enable you to perform effectively in the role.</p>
						<p class="govuk-body">You should link your examples to the competencies required for the post giving regard to the job description. The self-assessment should not simply be a reiteration of your career history.</p>
						<p class="govuk-body">Guidance on <a class="govuk-link" href="#">completing the candidate self-assessment</a> and <a class="govuk-link" href="#">choosing the best examples in your self-assessment</a>.</p>
						<p class="govuk-body">Self-assessments and independent assessments will be considered at the selection day stage and will play no part in the shortlisting process. Shortlisting will be by way of the online qualifying test and online scenario test.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Independent Assessments</p>
						<p class="govuk-body">Independent assessments will contribute to your overall assessment. They should provide evidence that you have the abilities relevant to this role as outlined in the competency framework.</p>
						<p class="govuk-body">In your application you must provide details of <strong>2</strong> assessors who know you and your work well. One of your assessors should ideally be from your current employment.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">Guidance about independent assessments</a></p>
						<p class="govuk-body">When asked to provide details of your independent assessors you will see 4 boxes for the assessor details. However, you must give details of <strong>2 assessors only</strong>.</p>
						<p class="govuk-body"><em>Nominating your independent assessors</em></p>
						<p class="govuk-body">Independent assessments should provide evidence that you have the competencies relevant to the role of a Recorder. Both of your assessors must, therefore, have sound and comprehensive knowledge of your work and 1 of your assessors should, ideally, be from your current employment. Depending on whether you already hold judicial office or not will determine the category or categories of assessors you must nominate as follows:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>if you are a salaried judicial office holder, you will need to provide details of 2 judicial assessors, ideally, one of these should be from your leadership judge</li>
							<li>if you are a fee-paid judicial office holder, you will need to provide details of 1 judicial assessor and 1 professional assessor</li>
							<li>if you do not currently hold a judicial office, you will need to provide details of 2 professional assessors</li>
						</ul>
						<p class="govuk-body">A professional assessor can be:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>a senior partner or head of chambers, if you are a solicitor or barrister</li>
							<li>a client, magistrate or local authority official, if you are a sole practitioner</li>
							<li>a judge who is able to provide an assessment of your professional role</li>
						</ul>
						<p class="govuk-body">If you are a judicial office holder, a judicial assessor may be:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>the senior judge of the tribunal, court, or circuit where you sit most often or your appraising judge</li>
						</ul>
						<p class="govuk-body">You <strong>must</strong> ensure that details (name, title and email address) are correct for both your assessors. Correspondence with your assessors will be by email.</p>
						<p class="govuk-body">It is advisable to contact your assessors in advance of your application. If you have any queries about who to nominate as an assessor, contact the JAC.</p>
						<p class="govuk-body">You are asked <strong>not</strong> to nominate an assessor who you know is applying for this exercise.</p>
						<p class="govuk-body">Do <strong>not</strong> nominate:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>a JAC Commissioner</li>
							<li>Sir Henry Globe</li>
							<li>Judge Neil Ford QC</li>
							<li>Senior Presiding Judge</li>
							<li>Lord Chief Justice </li>
						</ul>
						<p class="govuk-body">If you have any queries about who to nominate as your independent assessors please contact the JAC.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Shortlisting</p>
						<p class="govuk-body">Shortlisting will be by qualifying test.</p>
						<p class="govuk-body"><em>Stage 1: Online qualifying test</em></p>
						<p class="govuk-body">All applicants will be invited to participate in an online qualifying test on <strong>17 September 2019</strong> and will receive qualifying test instructions by email on 10 September 2019.</p>
						<p class="govuk-body"><em>Stage 2: Online scenario test</em></p>
						<p class="govuk-body">If you are successful in the online qualifying test stage you will be invited to sit an online scenario test on <strong>8 October 2019</strong>.</p>
						<p class="govuk-body">Scenario test instructions will be sent by email on 1 October 2019.</p>
						<p class="govuk-body">If you are unable to sit the test on these dates due to exceptional circumstances email <a class="govuk-link" href="#">Recorder2019@judicialappointments.gov.uk</a> and we will arrange for you take the test on a later date (which will fall no more than a week after the original date).</p>
						<p class="govuk-body govuk-!-font-weight-bold">Feedback reports</p>
						<p class="govuk-body">Following each of the 2 shortlisting stages, the JAC will produce a feedback report analysing how candidates performed overall. This report will also include information on the method of marking, including guidance and information on the distribution of marks available to applicants.</p>
						<p class="govuk-body">This report will be published on the JAC website. The JAC cannot provide bespoke feedback for individual candidates at the shortlisting stages; please do not make a request as exceptions are not made.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection Day</p>
						<p class="govuk-body">If you are successful in the stage 2, online scenario stage you will be invited to a selection day which will take place between <strong>20 January to 14 February 2020</strong>. We will not be able to offer an alternative selection day outside this period.</p>
						<p class="govuk-body">The selection days will take place at a venue in London or Leeds. You will be asked to indicate your preferred location and your availability in Part 2 of the application form. Where possible we will take into account your preference. However, due to the number of candidates involved, we cannot guarantee that you will be offered a selection day at your preferred location.</p>
						<p class="govuk-body">The selection day will comprise a role play followed by a competency-based interview. The panel will be seeking evidence from you against the competencies for the post. Further details will be sent with the formal invitation to attend which you will receive in December 2019. If you have not received an email by <strong>31 December 2019</strong> please contact the JAC immediately.</p>
						<p class="govuk-body">Candidates applying for posts in Wales will be asked some additional questions at selection day relating to Welsh matters. This is to allow the panel to assess your understanding, or the ability to acquire the understanding, of the administration of justice in Wales, including legislation applicable to Wales and Welsh devolution arrangements. If you are considered unsuitable for the Welsh posts, this will not affect your suitability for posts in England.</p>
						<p class="govuk-body">The Welsh-speaking element will be tested outside of your selection day over the telephone. Dates are to be confirmed but are likely to be 3 to 7 February 2020.</p>
						<p class="govuk-body">Selections are made solely on merit. Following deployment decisions you will only be offered 1 post only, therefore please consider your preferences carefully.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">More information about selection day, including interviews and role plays</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Reasonable adjustments</p>
						<p class="govuk-body">The JAC provides reasonable adjustments to ensure that candidates with disabilities are not placed at a substantial disadvantage. We will also consider making reasonable adjustments for those with a short-term injury or temporary illness. Details can be found in the JAC's <a class="govuk-link" href="#">reasonable adjustments policy</a>. Candidates will have the option to outline their reasonable adjustment requirements on their JAC website account.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Character checks</p>
						<p class="govuk-body">The JAC is required to select people who are of good character and you are therefore advised to read the <a class="govuk-link" href="#">Good Character Guidance</a> to assist you to determine whether there is anything in your past conduct, or present circumstances, that would affect your application for judicial appointment.</p>
						<p class="govuk-body">Anything brought to the JAC’s attention through its independent checks not disclosed by you will be treated as a non-declaration. Failure to disclose any relevant matter is likely to have an adverse effect on your application. It is your responsibility to ensure that any record concerning your character is accurate and you may wish to contact your professional body to ensure all matters recorded are known to you.</p>
						<p class="govuk-body">The Rehabilitation of Offenders Act 1974 (Exceptions) Order 1975 (Amendment) (England and Wales) Order 2016 allows for the full disclosure to the JAC of all spent cautions and convictions to assess good character. You must therefore declare and disclose all past convictions and cautions, regardless of whether they are spent or unspent.</p>
						<p class="govuk-body">You should also consider whether any matter you have declared is likely to have an adverse effect on your application and provide details of any extenuating circumstances for the Selection and Character Committee (SCC) to consider in departing from the usual position as set out with the <a class="govuk-link" href="#">Good Character Guidance</a>. You will have no opportunity to make further representations on any declared issue once the matter is before the SCC.</p>
						<p class="govuk-body">It is your continuing responsibility to disclose any matter that may arise throughout the selection process, up to the point of appointment. If you need to provide the JAC with an update to your character profile after submitting your application form email <a class="govuk-link" href="#">Recorder2019@judicialappointments.gov.uk</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Statutory consultation</p>
						<p class="govuk-body">As required by the Judicial Appointments Regulations 2013, the JAC is required to consult a person (other than the Appropriate Authority) who has held the office for which candidates are applying, or someone else with other relevant experience. For this selection exercise, the JAC will consult with the <strong>Senior Presiding Judge, Lady Justice Macur</strong>. The information provided by the Statutory Consultee will be used to inform selection decisions.</p>
						<p class="govuk-body"><a class="govuk-link" href="#">Information on statutory consultation</a></p>
						<p class="govuk-body govuk-!-font-weight-bold">Equal merit provision</p>
						<p class="govuk-body">Guidance on the approach taken by the JAC to equal merit can found <a class="govuk-link" href="#">here</a>.</p>
						<p class="govuk-body">The JAC will consider applying an <a class="govuk-link" href="#">equal merit provision</a> at the shortlisting stages of this exercise and at the final decision-making stage, for the purpose of supporting greater judicial diversity.</p>
						<p class="govuk-body">The relevant data used to identify under-representation are taken from the 2011 Census, detailed Characteristics, England and Wales (ONS 2012) and the <a class="govuk-link" href="#">diversity statistics</a> showing the background of the courts judiciary (as of 1 April 2019).</p>
						<p class="govuk-body">According to the most recent data:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>50.4% of the usual residents of the United Kingdom aged 25 to 74 are women</li>
							<li>11.3% identify as being from a Black, Asian or Ethnic Minority (BAME) background</li>
							<li>21% of Recorders identify as women</li>
							<li>9% of Recorders identify as being from a BAME background</li>
						</ul>
						<p class="govuk-body">Therefore both women and BAME individuals are underrepresented among Recorders in England and Wales.</p>
						<p class="govuk-body">The Commission will rely on the diversity monitoring data provided by candidates when applying the equal merit approach. If a candidate does not provide diversity data, it may not be possible for the Commission to put them forward on the basis of improving diversity, if they are assessed as of equal merit at any relevant point of the selection exercise as set out in our <a class="govuk-link" href="#">guidance</a>.</p>
						<p class="govuk-body">At the final decision-making stage, the Committee may be presented with a situation whereby it is unable to choose between 2 or more candidates on the basis of their relevant protected characteristics, for example, 2 candidates assessed as being of equal merit may both be white men. If this situation arises, the equal merit provision cannot be used to make a selection. The Committee will, therefore, invite those candidates to a second interview, to enable it to make a selection decision.</p>
						<p class="govuk-body">Diversity information for previous selection exercises is on the <a class="govuk-link" href="#">JAC's official statistics pages</a>.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection decisions</p>
						<p class="govuk-body">The Selection and Character Committee will consider which candidates to recommend to the Appropriate Authority as set out in the Judicial Appointments Regulations 2013.</p>
						<p class="govuk-body">The Appropriate Authority may request to see any information that was available to the JAC in making its recommendation. You should be aware that any information you provide in your application or during the selection process could be provided to the Appropriate Authority.</p>
						<p class="govuk-body">For this exercise the Appropriate Authority will be the <strong>Lord Chief Justice</strong> who can accept or reject a recommendation or ask the Commission to reconsider. The Appropriate Authority may not select an alternative candidate.</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-4">Outcome of the exercise</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
						<p class="govuk-body">The JAC will email the outcome to those interviewed at the end of <strong>June 2020</strong>.</p>
						<p class="govuk-body">If you are not successful and have narrowly missed reccomendation (C grade candidates who have not been reccomended for appointment) following the selection day, you can request written feedback. You should make this request within 6 weeks of the email informing you that you have not been successful. We will aim to respond to your request within 30 working days.</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-5">Feedback</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
						<p class="govuk-body govuk-!-font-weight-bold">QT</p>
						<p class="govuk-body">Following the initial shortlisting stage in this exercise by way of an online test, unsuccessful candidates will be provided with their overall percentage score across the test. The JAC will also produce a generic feedback report analysing how candidates performed overall. This report will also include information on the method of marking, including guidance and information on the distribution of marks available to applicants.</p>
						<p class="govuk-body">This report will be published on the JAC website. <strong>The JAC cannot provide bespoke feedback for individual candidates at the shortlisting stages; please do not make a request as exceptions are not made</strong>.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection day</p>
						<p class="govuk-body">Following Selection Day, the JAC will produce a generic feedback report analysing how candidates performed overall. This report will also include information on the method of marking, including guidance and information on the distribution of marks available to applicants. This report will be published on the JAC website.</p>
						<p class="govuk-body">Following selection day, unsuccessful candidates who are identified as narrowly missing out on recommendation will be offered individual feedback.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-6">Training</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
						<p class="govuk-body">Successful candidates will attend a week-long residential course as follows:</p>
						<p class="govuk-body govuk-!-font-weight-bold">Crime</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>those candidates deployed to crime will be required to attend a week-long residential training course</li>
							<li>for criminal practitioners the sitting-in period is 5 days post-induction course but for non-recent criminal experience there is an additional 5 days before the induction course</li>
							<li>dates and venues for training to be confirmed</li>
						</ul>
						<p class="govuk-body govuk-!-font-weight-bold">Family</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>those candidates deployed to family will be required to attend a 7-day residential course over a 2-week period. The induction will cover both public and private family law</li>
							<li>for family practitioners the sitting-in period is up to 5 days post-induction course but for non-recent family experience there may be a requirement to also complete a sitting-in period prior to the induction course</li>
						</ul>
						<p class="govuk-body govuk-!-font-weight-bold">Civil</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>those candidates deployed to civil will be required to attend a week-long residential training course</li>
							<li>for civil practitioners, there will be a total of 5 sitting-in days: 1 day before the induction and 4 days post-induction</li>
							<li>dates and venues for training to be confirmed</li>
						</ul>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-7">Contact</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
						<p class="govuk-body">If you have any questions about this role or your application, contact<br /><a href="#" class="govuk-link">Recorder2019@judicialappointments.gov.uk</a></p>
						<p class="govuk-body"><strong>Kira Jainudeen</strong><br />Selection Exercise Manager on 07562 433 988</p>
						<p class="govuk-body"><strong>Lisa Grant</strong><br />Senior Selection Exercise Manager on 07889 413 437</p>
					</div>
			  	</div>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Check if you're eligible and apply</button>
			<div class="govuk-inset-text">This page is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</div> 
		</div>
		<div class="govuk-grid-column-one-third govuk-!-margin-top-8">
			<h3 class="govuk-heading-m">Timeline</h3>
			<div class="moj-timeline clearfix">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Open for applications</h2>
					</div>
					<p class="moj-timeline__date">23 July 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Closed for applications</h2>
					</div>
					<p class="moj-timeline__date">6 August 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Qualifying test instructions issued via email</h2>
					</div>
					<p class="moj-timeline__date">10 September 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Online qualifying test</h2>
					</div>
					<p class="moj-timeline__date">17 September 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Outcome of online qualifying test issued</h2>
					</div>
					<p class="moj-timeline__date">end September 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Online Scenario test instructions issued via email</h2>
					</div>
					<p class="moj-timeline__date">1 October 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Online Scenario test</h2>
					</div>
					<p class="moj-timeline__date">8 October 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Eligibility checks being conducted</h2>
					</div>
					<p class="moj-timeline__date">November 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Outcome of online scenario test issued</h2>
					</div>
					<p class="moj-timeline__date">28 November 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Request for independent assessments</h2>
					</div>
					<p class="moj-timeline__date">29 November 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Request for candidates to complete Part 2 of their application</h2>
					</div>
					<p class="moj-timeline__date">29 November 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Deadline for the submission of Part 2 of the application</h2>
					</div>
					<p class="moj-timeline__date">6 December 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Deadline for the receipt of independent assessments</h2>
					</div>
					<p class="moj-timeline__date">13 December 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Formal selection day invitation issued</h2>
					</div>
					<p class="moj-timeline__date">end December 2019</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection days (block 1)</h2>
					</div>
					<p class="moj-timeline__date">20 to 24 January 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection days (block 2)</h2>
					</div>
					<p class="moj-timeline__date">10 to 14 February 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Character checks being conducted</h2>
					</div>
					<p class="moj-timeline__date">March to April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Statutory consultation comments sought</h2>
					</div>
					<p class="moj-timeline__date">March to April 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Outcome of selection process expected</h2>
					</div>
					<p class="moj-timeline__date">end June 2020</p>
				</div>
			</div>
			<h3 class="govuk-heading-m govuk-!-margin-top-8">Documents</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">Job description</a><br /><span class="govuk-!-font-size-16">PDF, 234KB, 6 pages</span></li>
				<li><a class="govuk-link" href="#">Terms and conditions</a><br /><span class="govuk-!-font-size-16">PDF, 302KB, 7 pages</span></li>
				<li><a class="govuk-link" href="#">New Judicial Pension Scheme</a><br /><span class="govuk-!-font-size-16">PDF, 151KB, 28 pages</span></li>
				<li><a class="govuk-link" href="#">Judicial Pension Scheme 1993</a><br /><span class="govuk-!-font-size-16">PDF, 601KB, 26 pages</span></li>
			</ul>
			<h3 class="govuk-heading-m govuk-!-margin-top-8 top-border govuk-!-padding-top-4">Related content</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">How we shortlist candidates</a></li>
				<li><a class="govuk-link" href="#">How to write your self-assessment competency statements</a></li>
				<li><a class="govuk-link" href="#">How to choose your independent assessors</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}