{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Have you received a non-motoring penalty notice in the last 4 years?{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="driving-offences" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Have you received a non-motoring penalty notice in the last 4 years?</h1>
					</legend>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="penalty-notice-yes" name="penalty-notice" type="radio" value="Yes" data-aria-controls="conditional-penalty-notice-yes" {{ checked("penalty-notice", "Yes") }}>
							<label class="govuk-label govuk-radios__label" for="penalty-notice-yes">Yes</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-penalty-notice-yes">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="penalty-notice-date">Date of offence</label>
								<span id="penalty-notice-date-hint" class="govuk-hint govuk-!-margin-bottom-2">For example, 19 08 2009</span>
								<div class="govuk-date-input" id="penalty-notice-date">
									<div class="govuk-date-input__item">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-date-input__label" for="penalty-notice-date-day">Day</label>
											<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="penalty-notice-date-day" name="penalty-notice-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['penalty-notice-date-day'] }}">
										  </div>
									</div>
									<div class="govuk-date-input__item">
										  <div class="govuk-form-group">
											<label class="govuk-label govuk-date-input__label" for="penalty-notice-date-month">Month</label>
											<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="penalty-notice-date-month" name="penalty-notice-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['penalty-notice-date-month'] }}">
										  </div>
									</div>
									<div class="govuk-date-input__item">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-date-input__label" for="penalty-notice-date-year">Year</label>
											<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="penalty-notice-date-year" name="penalty-notice-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['penalty-notice-date-year'] }}">
										  </div>
									</div>
								</div>
							</div>
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--m" for="spf-title-penalty-notice">Sentence, penalty or fine</label>
								<input class="govuk-input" id="spf-title-penalty-notice" name="spf-title-penalty-notice" type="text" spellcheck="false" value="{{ data['spf-title-penalty-notice'] }}">
							</div>
							<div class="govuk-form-group">
								<label class="govuk-label govuk-label--m" for="penalty-notice-details">Details</label>
								<textarea class="govuk-textarea" id="penalty-notice-details" name="penalty-notice-details" rows="5">{{ data['penalty-notice-details'] }}</textarea>
							</div>	
							<button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="#">Add another</button>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="penalty-notice-no" name="penalty-notice" type="radio" value="No" {{ checked("penalty-notice", "No") }}>
							<label class="govuk-label govuk-radios__label" for="penalty-notice-no">No</label>
						</div>
					</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}