{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Apply for the role{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
		<span class="govuk-caption-xl">JAC00133 Recorder</span>
		<h1 class="govuk-heading-xl">Apply for the role</h1>
		<ol class="app-task-list govuk-!-margin-top-7">
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Account profile
                </h2>
			    <ul class="app-task-list__items">
					<!-- Add personal details -->
					<li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="personal-details" aria-describedby="personal-details-completed">Add personal details</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-done app-task-list__task-completed" id="personal-details-completed">Completed</strong>            
					</li>
                    <!-- Declare character information -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="character-information" aria-describedby="character-information-in-progress">Declare character information</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-not-done app-task-list__task-completed" id="character-information-in-progress">In progress</strong>            
                    </li>
					<!-- Provide equality and diversity information -->
					<li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="equality-diversity" aria-describedby="equality-diversity-in-progress">Provide equality and diversity information</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-not-done app-task-list__task-completed" id="equality-diversity-in-progress">In progress</strong>
                    </li>
                </ul>
			</li>
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Qualifications and experience
                </h2>
			    <ul class="app-task-list__items">
					<!-- Add relevant qualifications -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="qualifications" aria-describedby="qualifications-in-progress">Add relevant qualifications</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-not-done app-task-list__task-completed" id="qualifications-in-progress">In progress</strong>
					</li>
					<!-- Add post-qualification experience -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="post-qualification">Add post-qualification experience</a>
                        </span>
                    </li>
                    <!-- Add gaps in employment -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name"><a href="gaps-employment">Add gaps in employment</a></span>
                        <strong class="govuk-tag govuk-tag-done app-task-list__task-completed" id="post-qualification-completed">Completed</strong>       
                    </li>
                    <!-- Confirm reasonable length of service -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="reasonable-length-service" aria-describedby="reasonable-length-service-in-progress">Confirm reasonable length of service</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-not-done app-task-list__task-completed" id="judicial-experience-in-progress">In progress</strong>        
                    </li>
                </ul>
			</li>
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Assessments
                </h2>
			    <ul class="app-task-list__items">
					<!-- Give independent assessors' details -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name"><a href="independent-assessors">Give independent assessors' details</a></span>
                    </li>
                    <!-- Complete self-assessment competencies -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name"><a href="self-assessment">Complete self-assessment competencies</a></span>
					</li>
                </ul>
			</li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Review application
                </h2>
                <ul class="app-task-list__items"> 
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">Check your answers</span>
                    </li>
                </ul>
            </li>
		</ol>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}