{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Form submitted{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-panel govuk-panel--confirmation">
				<!-- <h1 class="govuk-panel__title">This section is complete</h1> -->
				<h1 class="govuk-panel__title">Form submitted</h1>
			</div>
			<h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
			<p class="govuk-body">This information will be used by the Commission to undertake character checks.</p>
			<p class="govuk-body"><a href="#">Return to your applications</a></p>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}