{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Changelog{% endblock %}

{% set containerClasses = "index-page" %}

{% block content %}
<div class="header-background">
	<span class="govuk-caption-m govuk-!-margin-bottom-1 govuk-!-padding-top-2">Admin prototypes</span>
	<h1 class="govuk-heading-l govuk-!-margin-bottom-2"><a href="/" class="govuk-link govuk-link--no-visited-state">Judicial Appointments Commission</a></h1>
</div>
<div class="govuk-phase-banner">
	<p class="govuk-phase-banner__content">
		<strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
		<span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-top-7">Changelog</h1>
		<h2 class="govuk-heading-m">Consent to character checks</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Personal information</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Professional bodies</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">HMRC</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added <code>Not applicable</code> radio option</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Check your answers</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Declaration</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
		<h2 class="govuk-heading-m govuk-!-margin-top-6">Form submitted</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li>Added TBC</li>
			<li>Changed TBC</li>
			<li>Removed TBC</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
	<div class="govuk-width-container index-page">
		<div class="govuk-footer__meta">
			<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
		  		<h2 class="govuk-visually-hidden">Support links</h2>
		  		<ul class="govuk-footer__inline-list">
					<li class="govuk-footer__inline-list-item">
						<a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit v9.6.0</a>
					</li>
					<li class="govuk-footer__inline-list-item">
						<a href="/prototype-admin/clear-data">Clear data</a>
					</li>
		  		</ul>
		  		<svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
					<path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
		  		</svg>
		  		<span class="govuk-footer__licence-description">All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</span>
			</div>
	  	</div>
	</div>
</footer>
{% endblock %}