{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Check your answers{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<!-- <a href="javascript:window.history.back()" class="govuk-back-link">Back</a> -->
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full govuk-!-margin-top-8">
		<h1 class="govuk-heading-xl">Check your answers</h1>
		<h2 class="govuk-heading-l">Personal information</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 clearfix">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Title</dt>
				<dd class="govuk-summary-list__value">Mr</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> title</span></a>
				</dd>
			</div>
        	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Full name</dt>
				<dd class="govuk-summary-list__value">Max Talbot</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> full name</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Other names</dt>
				<dd class="govuk-summary-list__value">Maximilian Brown Talbot</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> other names</span></a>
				</dd>
			</div>
			<!-- <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Gender</dt>
				<dd class="govuk-summary-list__value">Male</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> gender</span></a>
				</dd>
			</div> -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Date of birth</dt>
				<dd class="govuk-summary-list__value">11 June 1975</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Place of birth</dt>
				<dd class="govuk-summary-list__value">New York, USA</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> place of birth</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Address</dt>
				<dd class="govuk-summary-list__value">123 Street Name<br />London<br />AA1 1AA</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Previous address</dt>
				<dd class="govuk-summary-list__value">321 Street Name<br />London<br />BB1 1BB</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous address</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">National Insurance number</dt>
				<dd class="govuk-summary-list__value">QQ 12 34 56 C</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> national insurance number</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Citizenship</dt>
				<dd class="govuk-summary-list__value">American</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> citizenship</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Occupation</dt>
				<dd class="govuk-summary-list__value">Barrister</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> occupation</span></a>
				</dd>
          	</div>
		</dl>

		<h2 class="govuk-heading-l">Professional bodies</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 clearfix">
        	<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">Barrister</dt>
				<dd class="govuk-summary-list__value">Bar membership number - AB1234C</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> bar membership number</span></a>
				</dd>
			</div>
		</dl>

		<h2 class="govuk-heading-l">HMRC</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8 clearfix">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key govuk-!-width-one-third">VAT registration number</dt>
				<dd class="govuk-summary-list__value">123456789</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vat number</span></a>
				</dd>
          	</div>
		</dl>

		<form action="declaration" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<button class="govuk-button" data-module="govuk-button">Continue</button>
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}