{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Declaration{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="/current/submit-consent-form/check-answers" class="govuk-back-link">Back</a> 
<form action="/current/submit-consent-form/form-submitted" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Declaration</h1>			
			<h2 class="govuk-heading-l">Professional bodies</h2>
			<p class="govuk-body">I consent to such persons and/or professional bodies as may be required for the purposes of my application disclosing to the JAC, in strict confidence, information relating to my conduct and professional reputation, including:</p> 
			<ul class="govuk-list govuk-list--bullet">
				<li>the disclosure of the details of any complaints upheld (relating to professional misconduct or inadequate professional service)</li>
				<li>the disclosure of the details of any outstanding complaints that have not yet been determined or resolved relating to professional misconduct or inadequate professional service</li>
			</ul>
			<h2 class="govuk-heading-l govuk-!-margin-top-8">HMRC</h2>
			<p class="govuk-body">I consent to HM Revenue and Customs (HMRC) disclosing to the Judicial Appointments Commission (JAC) in strict confidence, any information regarding the following, whether or not held on a computer system, and including where I act as a director, trustee or personal representative:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>disclosing details of any outstanding, or late submitted, personal returns of tax or duties and penalties or surcharges raised thereon</li>
				<li>disclosing details of any  outstanding debts of personal tax or duties and time to pay arrangements</li>
				<li>disclosing details of any on-going enquiry into my personal returns of tax or duties</li>
				<li>where I am a partner, disclosing whether there is any on going enquiry into a partnership return of tax or duties</li>
				<li>disclosing details of any record relating to HMRC Border controls in regard to departure and arrivals in the UK, for example, excise, prohibitions and restrictions</li>
			</ul>
			<h2 class="govuk-heading-l govuk-!-margin-top-8">Criminal checks</h2>
			<p class="govuk-body">I further consent that the Association of Chief Police Officers Criminal Records Office (ACRO) may, in strict confidence, disclose to the JAC any offence of which I have been convicted in relation to a criminal matter or infringement of the law and any caution administered to me at any time, whether spent or unspent, including any impending prosecutions.</p>
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-9">

			<div class="govuk-checkboxes">
				<div class="govuk-checkboxes__item">
					<input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="Yes, I understand and agree">
					<label class="govuk-label govuk-checkboxes__label govuk-label--s" for="declaration">Yes, I understand and agree</label>
				</div>
			</div>

			<!-- <div class="govuk-radios">
				<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="declaration-yes" name="declaration" type="radio" value="Yes, I understand and agree" {{ checked("declaration", "Yes, I understand and agree") }}>
						<label class="govuk-label govuk-radios__label" for="declaration-yes">Yes, I understand and agree</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="declaration-no" name="declaration" type="radio" value="No" data-aria-controls="conditional-title" {{ checked("declaration", "No") }}>
						<label class="govuk-label govuk-radios__label" for="declaration-no">No</label>
					</div>
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-title">
						<p class="govuk-body">Without your consent we cannot progress your application.</p>
					</div>
				</div>
			</div> -->
			<button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">Submit</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}