{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - HMRC{% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if (data['edit'] == "true") %}
<a href="/current/submit-consent-form/check-answers" class="govuk-back-link">Back</a> 
<form action="check-answers" method="post">
{% else %}
<a href="/current/submit-consent-form/professional-details" class="govuk-back-link">Back</a> 
<form action="more-details" method="post">
{% endif %}
<!-- <a href="/current/submit-consent-form/professional-details" class="govuk-back-link">Back</a> 
<form action="check-answers" method="post"> -->
	<input type="hidden" value="{{ data['edit'] }}" name="edit">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">HMRC</h1>
				</legend>
				<!-- VAT registration number -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" for="vat">Do you have a VAT registration number?</label>
					<span id="vat-hint" class="govuk-hint govuk-!-margin-bottom-2">All partnership, company and sole trader VAT registered number(s) that you have a personal responsibility for, whether they relate to the practice of law or not, will be required.</span>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="vat-yes" name="vat" type="radio" value="Yes" data-aria-controls="conditional-vat-yes" {{ checked("vat", "Yes") }}>
							<label class="govuk-label govuk-radios__label" for="vat-yes">Yes</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-vat-yes">
							<div class="govuk-form-group">
								<label class="govuk-label" for="vat-reg">VAT registration number</label>
								<span id="vat-hint" class="govuk-hint govuk-!-margin-bottom-2">For example, ‘123456789’.</span>
								<input class="govuk-input govuk-!-width-two-thirds" id="vat-reg" name="vat-reg" type="text" aria-describedby="vat-hint" value="{{ data['vat-reg'] }}">
							</div>
							<button class="govuk-button govuk-button--secondary govuk-!-margin-top-7" data-module="govuk-button" formaction="#">Add another VAT registration number</button>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="vat-no" name="vat" type="radio" value="No" {{ checked("vat", "No") }}>
							<label class="govuk-label govuk-radios__label" for="vat-no">No</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="vat-not-applicable" name="vat" type="radio" value="Not applicable" {{ checked("vat", "Not applicable") }}>
							<label class="govuk-label govuk-radios__label" for="vat-not-applicable">Not applicable</label>
						</div>
					</div>
				</div>
			</fieldset>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}