{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Good character checks - Tasks{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="personal-information" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Good character checks</h1>
			<p class="govuk-body">Information on the following pages has been partially pre-populated from your last submitted application (TBC).</p>
			<p class="govuk-body">You can edit the information if they are not correct (TBC).</p>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}