{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Tasks - Consent to character checks{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="personal-information" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Consent to character checks</h1>
			<p class="govuk-body">You must grant consent for the Commission to undertake character checks before you can be considered for appointment.</p>
			<p class="govuk-body">Information on the following pages has been partially completed from your last submitted application.</p>
			<p class="govuk-body">If your circumstances change subsquent to completing this form please notify the selection exercise team.</p>
			<div class="govuk-warning-text govuk-!-margin-top-4">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>Failure to declare any new matters that come to light from the Commission's checks may prejudice the outcome of your application. Please read the <a href="https://www.judicialappointments.gov.uk/good-character" class="govuk-link" target="_blank">Good Character Guidance</a>.</strong>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}