{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Tasks{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<!-- <a href="javascript:window.history.back()" class="govuk-back-link">Back</a> -->
<form action="task-list" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Tasks</h1>
			<ul class="govuk-list">
				<li><a class="govuk-link" href="personal-information">Complete consent form (TBC)</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}