{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Personal information{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a> 
<form action="declaration" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Good character checks</h1>
			<p class="govuk-body">Information on the following pages has been partially pre-populated from your last submitted application (TBC).</p>
			<p class="govuk-body">You can edit the information if they are not correct (TBC).</p>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Personal information</h1>
				</legend>
				<!-- <div class="govuk-inset-text">
					<p class="govuk-body">Information on this page has been partially pre-populated from your last submitted application (TBC).</p>
					<p class="govuk-body">You can edit the information if they are not correct. (TBC).</p>
				</div> -->
				<!-- Title -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" for="title">Title</label>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="title" name="title" type="radio" value="Mr" {{ checked("title", "Mr") }} checked>
							<label class="govuk-label govuk-radios__label" for="title">Mr</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="title-2" name="title" type="radio" value="Mrs" {{ checked("title", "Mrs") }}>
							<label class="govuk-label govuk-radios__label" for="title-2">Mrs</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="title-3" name="title" type="radio" value="Miss" {{ checked("title", "Miss") }}>
							<label class="govuk-label govuk-radios__label" for="title-3">Miss</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="title-4" name="title" type="radio" value="Ms" {{ checked("title", "Ms") }}>
							<label class="govuk-label govuk-radios__label" for="title-4">Ms</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="title-5" name="title" type="radio" value="Other" data-aria-controls="conditional-title-5" {{ checked("title", "Other") }}>
							<label class="govuk-label govuk-radios__label" for="title-5">Other</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-title-5">
								<div class="govuk-form-group">
								<label class="govuk-label" for="title-other">Title</label>
								<input class="govuk-input govuk-!-width-two-thirds" id="title-other" name="title-other" type="text" value="{{ data['title-other'] }}">
							</div>
						</div>
					</div>
				</div>
				<!-- Full name -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="full-name">Full name</label>
					<input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" value="{{ data['full-name'] | default('Max Talbot') }}">
				</div>
				<!-- Other names -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="other-name">Other names (optional)</label>
					<input class="govuk-input" id="other-name" name="other-name" type="text" spellcheck="false" value="{{ data['other-name'] }}">
				</div>
				<!-- Suffix -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="suffix">Suffix (optional)</label>
					<input class="govuk-input" id="suffix" name="suffix" type="text" spellcheck="false" value="{{ data['suffix'] }}">
				</div>
				<!-- Gender -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" for="gender">Gender</label>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender" name="gender" type="radio" value="Female" {{ checked("gender", "Female") }}>
							<label class="govuk-label govuk-radios__label" for="gender">Female</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender-2" name="gender" type="radio" value="Male" {{ checked("gender", "Male") }} checked>
							<label class="govuk-label govuk-radios__label" for="gender-2">Male</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender-3" name="gender" type="radio" value="Gender neutral" {{ checked("gender", "Gender neutral") }}>
							<label class="govuk-label govuk-radios__label" for="gender-3">Gender neutral</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender-4" name="gender" type="radio" value="Other" data-aria-controls="conditional-gender-4" {{ checked("gender", "Other") }}>
							<label class="govuk-label govuk-radios__label" for="gender-4">Other</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-gender-4">
								<div class="govuk-form-group">
								<label class="govuk-label" for="gender-other">Gender</label>
								<input class="govuk-input govuk-!-width-two-thirds" id="gender-other" name="gender-other" type="text" value="{{ data['gender-other'] }}">
							</div>
						</div>
					</div>
				</div>
				<!-- Date of birth-->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="dob">Date of birth</label>
					<span id="dob-hint" class="govuk-hint govuk-!-margin-bottom-2">For example, 27 3 1964</span>
					<div class="govuk-date-input" id="dob">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-day'] | default('11') }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
						  	<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-month'] | default('6') }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-year'] | default('1975') }}">
						  	</div>
						</div>
					</div>
				</div>
				<!-- Place of birth -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="place-birth">Place of birth</label>
					<input class="govuk-input" id="place-birth" name="place-birth" type="text" spellcheck="false" value="{{ data['place-birth'] | default('New York, USA') }}">
				</div>

				<!-- Address -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" for="address">Address</label>

					<label class="govuk-label" for="address-line-1">Building and street <span class="govuk-visually-hidden">line 1 of 2</span></label>
					<input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line-1" value="{{ data['address-line-1'] | default('123 Street Name') }}">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="address-line-2"><span class="govuk-visually-hidden">Building and street line 2 of 2</span></label>
					<input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line-2">
				</div>
				  <div class="govuk-form-group">
					<label class="govuk-label" for="address-town">Town or city</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level-2" value="{{ data['address-town'] | default('London') }}">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="address-county">County</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="address-postcode">Postcode</label>
					<input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code" value="{{ data['address-postcode'] | default('AA1 1AA') }}">
				</div>



				<!-- National Insurance number -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="nino">National Insurance number</label>
					<span id="nino-hint" class="govuk-hint govuk-!-margin-bottom-2">It’s on your National Insurance card, payslip or P60. For example, ‘QQ 12 34 56 C’.</span>
					<input class="govuk-input govuk-input--width-10" id="nino" name="nino" type="text" spellcheck="false" aria-describedby="nino-hint" value="{{ data['nino'] | default('QQ 12 34 56 C') }}">
				</div>
				<!-- Nationality -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="nationality">Nationality</label>
					<input class="govuk-input" id="nationality" name="nationality" type="text" spellcheck="false" value="{{ data['nationality'] | default('American') }}">
				</div>
				<!-- Occupation -->
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="occupation">Occupation</label>
					<input class="govuk-input" id="occupation" name="occupation" type="text" spellcheck="false" value="{{ data['occupation'] | default('Barrister') }}">
				</div>
			</fieldset>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}