{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit consent form - Professional details{% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if (data['edit'] == "true") %}
<a href="/current/submit-consent-form/check-answers" class="govuk-back-link">Back</a> 
<form action="check-answers" method="post">
{% else %}
<a href="/current/submit-consent-form/personal-information" class="govuk-back-link">Back</a> 
<form action="hmrc" method="post">
{% endif %}
	<input type="hidden" value="{{ data['edit'] }}" name="edit">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Professional details (TBC)</h1>
				</legend>
				<div class="govuk-inset-text govuk-!-margin-top-0">You stated on your application that you had been a Barrister since 19 July 2000.</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="bar-membership-number">What is your bar membership number?</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="bar-membership-number" name="bar-membership-number" type="text" spellcheck="false" value="{{ data['bar-membership-number'] }}">
				</div>
				<!-- Magistrate -->
				<div class="govuk-form-group govuk-!-margin-top-7">
					<label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="magistrate">Have you been a magistrate?</label>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="magistrate-yes" name="magistrate" type="radio" value="Yes" {{ checked("magistrate", "Yes") }}>
						<label class="govuk-label govuk-radios__label" for="magistrate-yes">Yes</label>
					</div>
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="magistrate-no" name="magistrate" type="radio" value="No" {{ checked("magistrate", "No") }}>
						<label class="govuk-label govuk-radios__label" for="magistrate-no">No</label>
					</div>
				</div>
			</fieldset>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}