{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Details of cautions or convictions{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="penalty-notice" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Details of cautions or convictions</h1>
				</legend>
				<h2 class="govuk-heading-m">Caution or conviction</h2>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s govuk-!-margin-bottom-0" for="caution-conviction-date">Date</label>
					<span id="caution-conviction-date-hint" class="govuk-hint govuk-!-margin-bottom-2">For example, 19 08 2009</span>
					<div class="govuk-date-input" id="caution-conviction-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="caution-conviction-date-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="caution-conviction-date-day" name="caution-conviction-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['caution-conviction-date-day'] }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
						  	<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="caution-conviction-date-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="caution-conviction-date-month" name="caution-conviction-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['caution-conviction-date-month'] }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="caution-conviction-date-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="caution-conviction-date-year" name="caution-conviction-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['caution-conviction-date-year'] }}">
						  	</div>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="caution-conviction-summary">Summary</label>
					<span id="caution-conviction-summary-hint" class="govuk-hint">Include sentence and fine.</span>
					<textarea class="govuk-textarea" id="caution-conviction-summary" name="caution-conviction-summary" rows="5" aria-describedby="caution-conviction-summary-hint">{{ data['caution-conviction-summary'] }}</textarea>
				</div>		
			</fieldset>
			<button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="#">Add another caution or conviction</button><br />
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>	
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}