{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Are you a fee-paid or salaried judge?{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="fee-paid-salaried-judge-router" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Are you a fee-paid or salaried judge?</h1>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="fee-paid-salaried-judge-yes" name="fee-paid-salaried-judge" type="radio" value="Yes" {{ checked("fee-paid-salaried-judge", "Yes") }}>
					  		<label class="govuk-label govuk-radios__label" for="fee-paid-salaried-judge-yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="fee-paid-salaried-judge-no" name="fee-paid-salaried-judge" type="radio" value="No" {{ checked("fee-paid-salaried-judge", "No") }}>
					  		<label class="govuk-label govuk-radios__label" for="fee-paid-salaried-judge-no">No</label>
						</div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}