{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Independent assessors{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="task-list" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-l">Independent assessors</h1>
			<p class="govuk-body">Sometimes called 'referees', your independent assessors will give us their opinion on your suitability for this role.</p>
			<p class="govuk-body">We'll only contact them if you pass the first round of shortlisting.</p>
			<p class="govuk-body govuk-!-margin-bottom-8">You should read the <a href="https://www.judicialappointments.gov.uk/references-guidance-candidates" class="govuk-link" target="_blank">guidance on choosing independent assessors</a> before making your nominations.</p>
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">First independent assessor</h2>
					</legend>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="full-name-first">Full name</label>
						<input class="govuk-input" id="full-name-first" name="full-name-first" type="text" spellcheck="false" value="{{ data['full-name-first'] }}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="email-first">Email address</label>
						<input class="govuk-input" id="email-first" name="email-first" type="email" autocomplete="email" spellcheck="false" value="{{ data['email-first'] }}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="phone-first">Phone</label>
						<input class="govuk-input govuk-input--width-20" id="phone-first" name="phone-first" type="tel" autocomplete="tel" value="{{ data['phone-first'] }}">
					  </div>
				</fieldset>
			</div>
			<div class="govuk-form-group govuk-!-margin-top-8">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">Second independent assessor</h2>
					</legend>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="full-name-second">Full name</label>
						<input class="govuk-input" id="full-name-second" name="full-name-second" type="text" spellcheck="false" value="{{ data['full-name-second'] }}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="email-second">Email address</label>
						<input class="govuk-input" id="email-second" name="email-second" type="email" autocomplete="email" spellcheck="false" value="{{ data['email-second'] }}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label govuk-label--s" for="phone-second">Phone</label>
						<input class="govuk-input govuk-input--width-20" id="phone-second" name="phone-second" type="tel" autocomplete="tel" value="{{ data['phone-second'] }}">
					  </div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}