{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Set location preferences{% endblock %}

{% block content %}
{% include "includes/header.html" %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="location-router" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Set location preferences</h1>
			<p class="govuk-body-l">You must indicate which of the two posts you are applying for.</p>
			<p class="govuk-body-l">If you apply for both, you must choose your preference, or you will be recommended for either position.</p>
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">Which posts are you applying for?</h2>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="location" name="location-preference" type="radio" value="Birmingham" {{ checked("location-preference", "Birmingham") }}>
					  		<label class="govuk-label govuk-radios__label" for="location">Birmingham</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="location-2" name="location-preference" type="radio" value="Winchester" {{ checked("location-preference", "Winchester") }}>
					  		<label class="govuk-label govuk-radios__label" for="location-2">Winchester</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="location-3" name="location-preference" type="radio" value="Both" {{ checked("location-preference", "Both") }}>
							<label class="govuk-label govuk-radios__label" for="location-3">Both</label>
					  </div>
					</div>
					  
					<!-- <div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="location-preference-conditional-1" name="location-preference" type="checkbox" value="Birmingham" {{ checked("location-preference", "Birmingham") }} data-aria-controls="conditional-location-preference-conditional">
							  <label class="govuk-label govuk-checkboxes__label" for="location-preference-conditional-1">Birmingham</label>
						</div>
						<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-location-preference-conditional">
							<div class="govuk-form-group">
								<div class="govuk-radios">	
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="birmingham-1" name="birmingham-preference" type="radio" value="First preference" {{ checked("birmingham-preference", "First preference") }}>
										<label class="govuk-label govuk-radios__label" for="birmingham-1">First preference</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="birmingham-2" name="birmingham-preference" type="radio" value="Second preference" {{ checked("birmingham-preference", "Second preference") }}>
										<label class="govuk-label govuk-radios__label" for="birmingham-2">Second preference</label>
									</div>
									<div class="govuk-radios__divider">or</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="birmingham-preference-3" name="birmingham-preference" type="radio" value="Not applicable" {{ checked("birmingham-preference", "Not applicable") }}>
										<label class="govuk-label govuk-radios__label" for="birmingham-preference-3">Not applicable</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="location-preference-conditional-2" name="location-preference" type="checkbox" value="Winchester" {{ checked("location-preference", "Winchester") }} data-aria-controls="conditional-location-preference-conditional">
							  <label class="govuk-label govuk-checkboxes__label" for="location-preference-conditional-2">Winchester</label>
						</div>
						<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-location-preference-conditional">
							<div class="govuk-form-group">
								<div class="govuk-radios">	
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="winchester-1" name="winchester-preference" type="radio" value="First preference" {{ checked("winchester-preference", "First preference") }}>
										<label class="govuk-label govuk-radios__label" for="winchester-1">First preference</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="winchester-2" name="winchester-preference" type="radio" value="Second preference" {{ checked("winchester-preference", "Second preference") }}>
										<label class="govuk-label govuk-radios__label" for="winchester-2">Second preference</label>
									</div>
									<div class="govuk-radios__divider">or</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="winchester-preference-3" name="winchester-preference" type="radio" value="Not applicable" {{ checked("winchester-preference", "Not applicable") }}>
										<label class="govuk-label govuk-radios__label" for="winchester-preference-3">Not applicable</label>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}