{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Set location preferences{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="task-list" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Set location preferences</h1>
			<p class="govuk-body-l govuk-!-margin-bottom-8">You must indicate which of the 2 posts you wish to apply for. If you wish to apply for both posts you must rank them in order of preference. Please note that if you apply for both posts, you may be recommended to either post.</p>
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						<h2 class="govuk-fieldset__heading">Which posts are you applying for, including your order of preference?</h2>
					</legend>
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="location-preference-conditional-1" name="location-preference" type="checkbox" value="Birmingham" {{ checked("location-preference", "Birmingham") }} data-aria-controls="conditional-location-preference-conditional">
							  <label class="govuk-label govuk-checkboxes__label" for="location-preference-conditional-1">Birmingham</label>
						</div>
						<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-location-preference-conditional">
							<div class="govuk-form-group">
								<div class="govuk-radios">	
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="birmingham-1" name="birmingham-preference" type="radio" value="First preference" {{ checked("birmingham-preference", "First preference") }}>
										<label class="govuk-label govuk-radios__label" for="birmingham-1">First preference</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="birmingham-2" name="birmingham-preference" type="radio" value="Second preference" {{ checked("birmingham-preference", "Second preference") }}>
										<label class="govuk-label govuk-radios__label" for="birmingham-2">Second preference</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="location-preference-conditional-2" name="location-preference" type="checkbox" value="Winchester" {{ checked("location-preference", "Winchester") }} data-aria-controls="conditional-location-preference-conditional">
							  <label class="govuk-label govuk-checkboxes__label" for="location-preference-conditional-2">Winchester</label>
						</div>
						<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-location-preference-conditional">
							<div class="govuk-form-group">
								<div class="govuk-radios">	
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="winchester-1" name="winchester-preference" type="radio" value="First preference" {{ checked("winchester-preference", "First preference") }}>
										<label class="govuk-label govuk-radios__label" for="winchester-1">First preference</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="winchester-2" name="winchester-preference" type="radio" value="Second preference" {{ checked("winchester-preference", "Second preference") }}>
										<label class="govuk-label govuk-radios__label" for="winchester-2">Second preference</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="part-time-yes" name="part-time" type="radio" value="Yes" {{ checked("part-time", "Yes") }}>
					  		<label class="govuk-label govuk-radios__label" for="part-time-yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="part-time-no" name="part-time" type="radio" value="No" {{ checked("part-time", "No") }}>
					  		<label class="govuk-label govuk-radios__label" for="part-time-no">No</label>
						</div>
				  	</div> -->
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}