{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Details of professional complaints, disciplinary action or requests to resign{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="other-issues" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Details of professional complaints, disciplinary action or requests to resign</h1>
				</legend>
				<h2 class="govuk-heading-m">Professional complaint, disciplinary action or request to resign</h2>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s govuk-!-margin-bottom-0" for="professional-complaints-date">Date</label>
					<span id="professional-complaints-date-hint" class="govuk-hint govuk-!-margin-bottom-2">For example, 19 08 2009</span>
					<div class="govuk-date-input" id="professional-complaints-date">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="professional-complaints-date-day">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="professional-complaints-date-day" name="professional-complaints-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['professional-complaints-date-day'] }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
						  	<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="professional-complaints-date-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="professional-complaints-date-month" name="professional-complaints-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['professional-complaints-date-month'] }}">
						  	</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="professional-complaints-date-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="professional-complaints-date-year" name="professional-complaints-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['professional-complaints-date-year'] }}">
						  	</div>
						</div>
					</div>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--s" for="professional-complaints-summary">Summary</label>
					<textarea class="govuk-textarea" id="professional-complaints-summary" name="professional-complaints-summary" rows="5">{{ data['professional-complaints-summary'] }}</textarea>
				</div>		
			</fieldset>
			<button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="#">Add another professional complaint, disciplinary action or request to resign</button><br />
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>	
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}