{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Between the ages 11 to 18, did you mainly go to a state or fee-paying school?{% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if (data['edit'] == "true") %}
<a href="/current/submit-application/scj/check-answers" class="govuk-back-link">Back</a> 
<form action="check-answers" method="post">
{% else %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="oxbridge" method="post">
{% endif %}
	<input type="hidden" value="{{ data['edit'] }}" name="edit">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Between the ages 11 to 18, did you mainly go to a state or fee-paying school?</h1>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="school" name="school" type="radio" value="UK state school - selective" {{ checked("school", "UK state school - selective") }}>
					  		<label class="govuk-label govuk-radios__label" for="school">UK state school - selective</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="school-2" name="school" type="radio" value="UK state school - non-selective" {{ checked("school", "UK state school - non-selective") }}>
					  		<label class="govuk-label govuk-radios__label" for="school-2">UK state school - non-selective</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="school-3" name="school" type="radio" value="UK independent or fee-paying school" {{ checked("school", "UK independent or fee-paying school") }}>
							<label class="govuk-label govuk-radios__label" for="school-3">UK independent or fee-paying school</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="school-4" name="school" type="radio" value="UK independent or fee-paying school with financial assistance (bursary or means-tested scholarship)" {{ checked("school", "UK independent or fee-paying school with financial assistance (bursary or means-tested scholarship)") }}>
							<label class="govuk-label govuk-radios__label" for="school-4">UK independent or fee-paying school with financial assistance (bursary or means-tested scholarship)</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="school-5" name="school" type="radio" value="I did not go to school in the UK" {{ checked("school", "I did not go to school in the UK") }}>
							<label class="govuk-label govuk-radios__label" for="school-5">I did not go to school in the UK</label>
					  	</div>
						<div class="govuk-radios__divider">or</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="school-no-answer" name="school" type="radio" value="Prefer not to say" {{ checked("school", "Prefer not to say") }}>
							<label class="govuk-label govuk-radios__label" for="school-no-answer">Prefer not to say</label>
					  </div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}