{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Curriculum vitae (CV){% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if (data['edit'] == "true") %}
<a href="/current/submit-application/scj/check-answers" class="govuk-back-link">Back</a> 
<form action="check-answers" method="post">
{% else %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="task-list" method="post">
{% endif %}
	<input type="hidden" value="{{ data['edit'] }}" name="edit">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Curriculum vitae (CV)</h1>
			<div class="govuk-form-group govuk-!-margin-top-6">
				<label class="govuk-label govuk-label--m" for="file-upload">Upload CV</label>
				<input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}