{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Did you participate in a Judicial Workshadowing Scheme?{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="part-paje" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Did you participate in a Judicial Workshadowing Scheme?</h1>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="workshadowing-scheme-yes" name="workshadowing-scheme" type="radio" value="Yes" {{ checked("workshadowing-scheme", "Yes") }}>
					  		<label class="govuk-label govuk-radios__label" for="workshadowing-scheme-yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="workshadowing-scheme-no" name="workshadowing-scheme" type="radio" value="No" {{ checked("workshadowing-scheme", "No") }}>
					  		<label class="govuk-label govuk-radios__label" for="workshadowing-scheme-no">No</label>
						</div>
						<div class="govuk-radios__divider">or</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="workshadowing-scheme-no-answer" name="workshadowing-scheme" type="radio" value="Prefer not to say" {{ checked("workshadowing-scheme", "Prefer not to say") }}>
							<label class="govuk-label govuk-radios__label" for="workshadowing-scheme-no-answer">Prefer not to say</label>
					  </div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}