{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Check your email{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
		<h1 class="govuk-heading-xl">Check your email</h1>
		<p class="govuk-body">We've sent a confirmation email to <a class="govuk-link" href="#">doesnotexist@email.com</a>.</p>
		<p class="govuk-body">Click the link to confirm your account.</p>
		<!-- <a class="govuk-link prototype-proceed" href="task-list">[Continue journey in prototype]</a> -->
	</div>
</div>
{% endblock %}

{% block footer %}
<!-- <div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<a class="govuk-link prototype-proceed" href="task-list">[Go]</a>
		</div>
	</div>
</div> -->
{% include "includes/footer.html" %}
{% endblock %}