{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Have you taken part in the Pre-application judicial education (PAJE) Programme?{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="task-list" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="taken-part-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Have you taken part in the Pre-Application Judicial Education (PAJE) programme?</h1>
					</legend>
					<span id="taken-part-hint" class="govuk-hint">The <a href="https://www.judiciary.uk/about-the-judiciary/who-are-the-judiciary/diversity/pre-application-judicial-education-programme-paje/" class="govuk-link" target="_blank">PAJE scheme</a> helps under-represented groups develop their understanding of the role and skills of judges.</span>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="take-part-yes" name="take-part" type="radio" value="Yes" {{ checked("take-part", "Yes") }}>
					  		<label class="govuk-label govuk-radios__label" for="take-part-yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
					  		<input class="govuk-radios__input" id="take-part-no" name="take-part" type="radio" value="No" {{ checked("take-part", "No") }}>
					  		<label class="govuk-label govuk-radios__label" for="take-part-no">No</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="take-part-no" name="take-part" type="radio" value="Prefer not to say" {{ checked("take-part", "Prefer not to say") }}>
							<label class="govuk-label govuk-radios__label" for="take-part-no">Prefer not to say</label>
					  </div>
				  	</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}