{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Have you ever changed gender?{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<form action="sexual-orientation" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Have you ever changed gender?</h1>
					</legend>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender-change-yes" name="gender-change" type="radio" value="Yes" {{ checked("gender-change", "Yes") }}>
						  	<label class="govuk-label govuk-radios__label" for="gender-change-yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="gender-change-no" name="gender-change" type="radio" value="No" {{ checked("gender-change", "No") }}>
							<label class="govuk-label govuk-radios__label" for="gender-change-no">No</label>
						</div>
						<div class="govuk-radios__divider">or</div>
						<div class="govuk-radios__item">
						  	<input class="govuk-radios__input" id="gender-change-no-answer" name="gender-change" type="radio" value="Prefer not to say" {{ checked("gender-change", "Prefer not to say") }}>
						  	<label class="govuk-label govuk-radios__label govuk-label" for="gender-change-no-answer">Prefer not to say</label>
						</div>
					</div>
				</fieldset>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Save and continue</button>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}