{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Fee Paid Disability Qualified Tribunal Member of the First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support Appeals Tribunals){% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-l">Fee Paid Disability Qualified Tribunal Member of the First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support Appeals Tribunals)</h1>
			<ul class="govuk-list vacancy-list">
				<!-- <li><strong>Closing date:</strong> 11 October 2019 at 1pm</li> -->
				<li><strong>Number of vacancies:</strong> 80</li>
				<li><strong>Location:</strong> Across England and Wales</li>
			</ul>
			<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-1">Overview of the role</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
						<p class="govuk-body">There are three jurisdictions in the Social Entitlement Chamber of the First-tier Tribunal. These are:</p>
						<ol class="govuk-list govuk-list--number">
							<li>Social Security and Child Support.</li>
							<li>Asylum Support.</li>
							<li>Criminal Injuries Compensation.</li>
						</ol>
						<p class="govuk-body">Your work will be in the Social Security and Child Support jurisdiction. You will sit on appeals that involve Disability Living Allowance, Personal Independence Payments and Attendance Allowance.</p>
						<p class="govuk-body">You will sit on the tribunal alongside a Medical Member and a Judge to decide cases brought before the tribunal. You will be given the papers for the hearing in advance. You will be expected to read and understand the information before the hearing starts. This may involve studying substantial amounts of complex documentary evidence.</p>
						<p class="govuk-body">During the hearing, you will use your experience of disabilities to assist the tribunal. You will do this by:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>applying your knowledge to the facts of the case</li>
							<li>examining the evidence</li>
							<li>asking questions during the hearing</li>
							<li>helping to reach a decision on the appeal with the other panel members</li>
						</ul>
						<p class="govuk-body">You will be assigned to a primary tribunal venue based on your home location and will be asked to undertake tribunal business as the need arises.  Tribunal hearings are normally held on weekdays and you would normally be given about a month's notice of hearings. How often you are asked to sit will depend on the workload of the tribunal as well as your own commitments and availability.</p>
						<p class="govuk-body">Subject to the availability of work, you will usually be expected to sit at least 15 days a year for tribunal business, and to attend mandatory training. A sitting day comprises 2 sessions (morning and afternoon) and you will usually be required to sit for both the morning and afternoon session.  The usual requirement is to sit for a day at a time (non-consecutive). You will need to attend the Tribunal in person.</p>
						<p class="govuk-body">If required, reasonable adjustments, including the presence of a carer, can be made for members with disabilities. This might include only sitting for 1 session (half a day) at a time.</p>
						<p class="govuk-body">If you are successful in the recruitment process and are in receipt of benefits please contact the DWP to report a <a href="#" class="govuk-link">change in circumstance</a>. If you start or change work it may affect your benefits. Please use an independent benefits calculator to find out if your benefits will change <a href="#" class="govuk-link">here</a>.</p>
						<p class="govuk-body">Fee: £210.14</p>
						<p class="govuk-body govuk-!-font-weight-bold">Location and jurisdiction</p>
						<p class="govuk-body">Vacancies are available across England and Wales.</p>
						<p class="govuk-body">You will be assigned to a judicial region and allocated a primary hearing venue, normally one closest to your home.</p>
						<p class="govuk-body">The judicial regions are:</p>
						<ul class="govuk-list govuk-list--bullet">
							<li>London</li>
							<li>Midlands</li>
							<li>North East</li>
							<li>North West</li>
							<li>South East</li>
							<li>South West</li>
							<li>Wales</li>
						</ul>
						<p class="govuk-body">You will be asked to indicate which locations, if successful, you would prefer to be deployed to. You will also be asked to indicate which other locations, that are not your preference, where you would nevertheless accept an offer of appointment.</p>
						<p class="govuk-body">Advice on selecting <a href="#" class="govuk-link">locations and jurisdictions</a> is available.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-2">Eligibility</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
						<p class="govuk-body">TBC</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-3">Selection process</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
						<p class="govuk-body">TBC</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
				  	<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  	<span class="govuk-accordion__section-button" id="accordion-default-heading-4">Outcome of the exercise</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
						<p class="govuk-body">TBC</p>
				  	</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-5">Feedback</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
						<p class="govuk-body govuk-!-font-weight-bold">Qualifying test</p>
						<p class="govuk-body">If a qualifying test is included, you will be provided with your overall score in the test, expressed as a percentage. The JAC will publish a full feedback report on candidate performance on the JAC website. If a qualifying test is not deemed necessary, the JAC is unable to provide you with individual feedback.</p>
						<p class="govuk-body govuk-!-font-weight-bold">Selection day</p>
						<p class="govuk-body">Following selection day, unsuccessful candidates who are identified as narrowly missing out on recommendation will be offered individual feedback. Candidates who fall outside of this will be notified of the outcome of selection days and will be encouraged to refer to the post selection day generic feedback report. This will be published on the JAC website after selection days.</p>
						<p class="govuk-body">Candidates identified as narrowly missing out on recommendation should make a request for feedback within 20 working days of the date of their outcome letter.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-6">Training</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
						<p class="govuk-body">Successful candidates will be required to attend a 2-day residential induction training - two separate events will be run. Candidates will be required to attend two days in either; week commencing <strong>19 April 2021</strong> or week commencing <strong>26 April 2021</strong>. Specific dates/location will be advised in offer letters.</p>
						<p class="govuk-body">Successful candidates are asked to undertake observations. It is desirable to undertake these before training but must be completed before sitting; this will be arranged by the Tribunal.</p>
					</div>
				</div>
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
					  		<span class="govuk-accordion__section-button" id="accordion-default-heading-7">Contact</span>
						</h2>
				  	</div>
				  	<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
						<p class="govuk-body">If you have any questions regarding this role or the application process, please contact a member of the selection exercise team:</p>
						<p class="govuk-body"><strong>Email</strong><br /><a href="#" class="govuk-link">DQTM2020@judicialappointments.gov.uk</a></p>
						<p class="govuk-body"><strong>Sean Conway</strong><br />Selection Exercise Team Manager on 07540 263 449</p>
						<p class="govuk-body"><strong>Suzanne Aylward</strong><br />Senior Selection Exercise Manager on 07870 819 764</p>
					</div>
			  	</div>
			</div>
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Check if you're eligible and apply</button>
			<div class="govuk-inset-text">This page is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</div>
		</div>
		<div class="govuk-grid-column-one-third govuk-!-margin-top-8">
			<h3 class="govuk-heading-m">Timeline</h3>
			<div class="moj-timeline clearfix">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Open for applications</h2>
					</div>
					<p class="moj-timeline__date">11 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Closed for applications</h2>
					</div>
					<p class="moj-timeline__date">25 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Situational judgement qualifying test (QT)</h2>
					</div>
					<p class="moj-timeline__date">30 April 2020 - 7:00 am to 9:00 pm</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Critical analysis qualifying test (QT)</h2>
					</div>
					<p class="moj-timeline__date">30 April 2020 - 7:00 am to 9:00 pm</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Shortlisting outcome</h2>
					</div>
					<p class="moj-timeline__date">July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">JAC Contacts Independent Assessors</h2>
					</div>
					<p class="moj-timeline__date">14 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - (Block 1) - Birmingham, London, Newcastle</h2>
					</div>
					<p class="moj-timeline__date">24 August 2020 to 4 September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - (Block 2) - Birmingham, Cardiff, London</h2>
					</div>
					<p class="moj-timeline__date">14 September 2020 to 25 September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection process outcome</h2>
					</div>
					<p class="moj-timeline__date">January 2021</p>
				</div>
			</div>
			<h3 class="govuk-heading-m govuk-!-margin-top-8">Documents</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">Job description</a><br /><span class="govuk-!-font-size-16">PDF, 25KB, 2 pages</span></li>
				<li><a class="govuk-link" href="#">Competency framework</a><br /><span class="govuk-!-font-size-16">PDF, 327KB, 2 pages</span></li>
				<li><a class="govuk-link" href="#">Terms and conditions</a><br /><span class="govuk-!-font-size-16">PDF, 137KB, 4 pages</span></li>
				<li><a class="govuk-link" href="#">Pensions note</a><br /><span class="govuk-!-font-size-16">PDF, 19KB, 1 page</span></li>
			</ul>
			<h3 class="govuk-heading-m govuk-!-margin-top-8 top-border govuk-!-padding-top-4">Related content</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">How we shortlist candidates</a></li>
				<li><a class="govuk-link" href="#">How to write your self-assessment competency statements</a></li>
				<li><a class="govuk-link" href="#">How to choose your independent assessors</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}