{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Fee Paid Disability Qualified Tribunal Member of the First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support Appeals Tribunals){% endblock %}

{% block content %}
{% include "includes/header.html" %}
<form action="#" method="post">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
			<h1 class="govuk-heading-xl">Fee Paid Disability Qualified Tribunal Member of the First-tier Tribunal, Social Entitlement Chamber (Social Security and Child Support Appeals Tribunals)</h1>
			<ul class="govuk-list vacancy-list">
				<!-- <li><strong>Closing date:</strong> 11 October 2019 at 1pm</li> -->
				<li><strong>Number of vacancies:</strong> 80</li>
				<li><strong>Location:</strong> Across England and Wales</li>
			</ul>
			
			<!-- <h2 class="govuk-heading-l govuk-!-margin-top-8">Overview of the role</h2>
			<p class="govuk-body">The jurisdiction of a Recorder is broadly similar to that of a Circuit Judge.</p>
			<p class="govuk-body">Recorders are required to read and assimilate case papers before a hearing or trial commences and play an active role in case management.</p>
			<p class="govuk-body">Recorders must control the manner in which cases are conducted and decide issues of law and procedure that may arise during a case and provide reasons for any ruling. Recorders are expected to keep abreast of legal developments; this entails a substantial amount of reading not directly connected with the cases which they are trying.</p>
			<ul class="govuk-list">
				<li class="govuk-!-margin-bottom-4"><a class="govuk-link" href="#">Download 042 Recorder job description</a></li>
				<li><a class="govuk-link" href="#">Download 042 Recorder terms and conditions</a></li>
			</ul>
			<h2 class="govuk-heading-l govuk-!-margin-top-6">Eligibility requirements</h2>
			<p class="govuk-body">The eligibility requirements for this role are contained in an eligibility checklist. This is the first stage of the application process.</p>
			<p class="govuk-body">The questions in the checklist are based on the specific requirements for this role only. You should read each question carefully, even if you’ve applied for roles with the JAC before.</p>
			<p class="govuk-body">Your answers will give you an idea of whether you're eligible - they're not a confirmation that you are or are not.</p>
			<p class="govuk-body"><a class="govuk-link" href="#">Or get email updates about this role</a></p> -->
			<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Check if you're eligible and apply</button>
			<div class="govuk-inset-text">This page is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</div>
		</div>
		<div class="govuk-grid-column-one-third govuk-!-margin-top-8">
			<h3 class="govuk-heading-m">Timeline</h3>
			<div class="moj-timeline clearfix">
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Open for applications</h2>
					</div>
					<p class="moj-timeline__date">11 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Closed for applications</h2>
					</div>
					<p class="moj-timeline__date">25 March 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Situational judgement qualifying test (QT)</h2>
					</div>
					<p class="moj-timeline__date">30 April 2020 - 7:00 am to 9:00 pm</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Critical analysis qualifying test (QT)</h2>
					</div>
					<p class="moj-timeline__date">30 April 2020 - 7:00 am to 9:00 pm</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Shortlisting outcome</h2>
					</div>
					<p class="moj-timeline__date">July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">JAC Contacts Independent Assessors</h2>
					</div>
					<p class="moj-timeline__date">14 July 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - (Block 1) - Birmingham, London, Newcastle</h2>
					</div>
					<p class="moj-timeline__date">24 August 2020 to 4 September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection Day - (Block 2) - Birmingham, Cardiff, London</h2>
					</div>
					<p class="moj-timeline__date">14 September 2020 to 25 September 2020</p>
				</div>
				<div class="moj-timeline__item">
					<div class="moj-timeline__header">
						<h2 class="moj-timeline__title">Selection process outcome</h2>
					</div>
					<p class="moj-timeline__date">January 2021</p>
				</div>
			</div>
			<h3 class="govuk-heading-m govuk-!-margin-top-8">Documents</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="#">Job description</a><br /><span class="govuk-!-font-size-16">PDF, 25KB, 2 pages</span></li>
				<li><a class="govuk-link" href="#">Competency framework</a><br /><span class="govuk-!-font-size-16">PDF, 327KB, 2 pages</span></li>
				<li><a class="govuk-link" href="#">Terms and conditions</a><br /><span class="govuk-!-font-size-16">PDF, 137KB, 4 pages</span></li>
				<li><a class="govuk-link" href="#">Pensions note</a><br /><span class="govuk-!-font-size-16">PDF, 19KB, 1 page</span></li>
			</ul>
			<h3 class="govuk-heading-m govuk-!-margin-top-8 top-border govuk-!-padding-top-4">Related content</h3>
			<ul class="govuk-list sidebar-list govuk-!-margin-bottom-8">
				<li><a class="govuk-link" href="https://www.judicialappointments.gov.uk/overview-selection-process">How we shortlist candidates</a></li>
				<li><a class="govuk-link" href="https://www.judicialappointments.gov.uk/completing-your-self-assessment">How to write your self-assessment competency statements</a></li>
				<li><a class="govuk-link" href="https://www.judicialappointments.gov.uk/references-guidance-candidates">How to choose your independent assessors</a></li>
			</ul>
		</div>
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}