{% extends "layout_unbranded.html" %}

{% block pageTitle %}Judical Appointments Commission - Submit an application - Qualifying tests{% endblock %}

{% block content %}
{% include "includes/header.html" %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
		<h1 class="govuk-heading-xl">Qualifying tests</h2>
		<p class="govuk-body">We use online qualifying tests to create a shortlist of candidates to go through to the next stage of the selection process.</p>
		<p class="govuk-body">There are 3 types of qualifying tests.</p>
		<ul class="govuk-list govuk-list--number">
			<li>Situational judgement test.</li>
			<li>Critical analysis test.</li>
			<li>Scenario test.</li>
		</ul>
		<p class="govuk-body">We’ll email you some time before the test date to tell you which ones you’ll need to take and when you’ll need to take them.</p>
		<h2 class="govuk-heading-m">1. Situational judgement test</h2>
		<p class="govuk-body">You’ll have a set time to answer a number of multiple-choice questions. Each question will present a situation you might face in the role you’ve applied for.</p>
		<p class="govuk-body">There are 5 possible answers for each question. You’ll need to choose which you think are the best and worst answer in each case. There are no marks for next best or next worst answer.</p>
		<p class="govuk-body">Tests are scored automatically. You’ll need to answer at least 30% of questions correctly.</p>
		<h2 class="govuk-heading-m">2. Critical analysis test</h2>
		<p class="govuk-body">We’ll send you a legal judgment or text before the test date. During the test, you’ll have a set time to answer a number of multiple-choice questions about this text. Each questions will have a choice of 5 answers. You’ll have to decide which is the most accurate.</p>
		<p class="govuk-body">Tests are scored automatically. You’ll need to answer at least 30% of questions correctly.</p>
		<h2 class="govuk-heading-m">3. Scenario test</h2>
		<p class="govuk-body">You’ll have a set time to answer questions about previous decisions on different appeal cases. You’ll be given the decision texts and grounds of appeal during the test.</p>
		<p class="govuk-body">Word limits will vary by question, but each will be clearly marked. There are also different maximum scores for each question. Again, these will be clearly marked.</p>
		<p class="govuk-body">Answers are marked by JAC panellists. These are validated to make sure marking is consistent across all panellists.</p>
		<h3 class="govuk-heading-l">Test dates</h3>
		<p class="govuk-body">We try to avoid holding qualifying tests during school and judicial holiday dates. It’s not possible to avoid all religious festivals.</p>
		<p class="govuk-body">If exceptional circumstances mean you cannot take a test on the specified date, we’ll arrange a second test date.</p>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}